.recipes__card {
  display: flex;
  margin: 15px 20px;
  position: relative;
  width: 100%;
  align-items: center;
}

span {
  font-weight: 500;
  font-size: 17px;
}

.recipes__card-img {
  max-width: 60px;
  max-height: 185px;
  object-fit: cover;
}

.recipes__desc {
  margin-left: 15px;
  max-width: 360px;
}

.recipes__desc-title {
  font-size: 22px;
}

.recipes__desc-text {
  word-wrap: break-word;
  margin-top: 5px;
  font-size: 15px;
}

.recipes__label {
  transform: rotate(45deg);
  width: 100px;
  position: absolute;
  top: 4px;
  right: -42px;
  text-align: center;
  color: var(--color-label-text);
  font-size: 15px;
}

@media (max-width: 1024px) {

  .recipes__desc {
    max-width: 560px;
  }
}

@media (max-width: 768px) {

  .recipes__desc {
    max-width: 400px;
  }
}

@media (max-width: 576px) {

  .recipes__card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .recipes__desc {
    margin-top: 15px;
    max-width: 300px;
  }
}

@media (max-width: 425px) {

  .recipes__desc {
    max-width: 200px;
  }
}
