.game-board {
  display: flex;
}

.game-board__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 185px;
  width: 185px;
  background-color: #C4C4C4;
  margin: 0 17px 17px 0;
  cursor: pointer;
  transition: 200ms;
}

.game-board__item--x {
  background-color: var(--color-player-blue);
}

.game-board__item--0 {
  background-color: var(--color-player-violet);
}

.game-board__item:hover,
.game-board__item:focus {
  transform: scale(1.05);
}
