.main {
  max-width: 300px;
  height: auto;
  background: #70A8BD;
  border: 2px solid #000;
  border-radius: 10px;
}

.main__container {
  padding: 10px;
  height: 450px;
  background: #FFF;
  margin: 10px;
  overflow-y: scroll;
}

.main__control {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main__button {
  width: 60px;
  height: 20px;
  background: #FFF;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
  transition: .5s;
}

.main__button:hover {
  background: #AEEB91;
  transform: scale(1.2);
}

.main__text {
  min-width: 140px;
  min-height: 50px;
}

.message__text {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 85%;
}

.message {
  height: auto;
  margin: 10px auto 0;
  background: #C0E2EE;
  border: 2px solid #000;
  border-radius: 4px;
  min-height: 40px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
}

.message__button-delete {
  margin-bottom: 10px;
  width: 25px;
  height: 25px;
  background: #F00;
  border-radius: 15px;
}
