<!DOCTYPE html>
<ul class="players__list">
    <li class="player">
        <div class="player__attributes">
            <svg class="player__logo" display="none"></svg>
            <p class="player__name">Player 1</p>
        </div>
        <div class="player__score">0</div>
    </li>
    <li class="player">
        <div class="player__attributes">
            <svg class="player__logo" display="none"></svg>
            <p class="player__name">Player 2</p>
        </div>
        <div class="player__score">0</div>
    </li>
</ul>
