.players__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  list-style: none;
}

.player {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 56px;
  margin: 0 0 13px;
}

.player__attributes {
  display: flex;
  align-items: center;
  max-width: 177px;
  width: 100%;
  height: 100%;
  padding: 0 0 0 9px;
}

.bg__user1 {
  background: #A5D9F6;
}

.bg__user2 {
  background: #A5A6F6;
}

.player__icon {
  fill: #FFF;
  margin: 0 20px 0 0;
}

.player__icon1 {
  width: 36px;
  height: 36px;
  fill: #FFF;
}

.player__icon2 {
  width: 41px;
  height: 41px;
  stroke: #FFF;
}

.player__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
}

.player__score {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
