* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 70%;
  margin: 20px auto;
}

.main {
  width: 100%;
  border: 2px solid #676767;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main__title {
  margin: 20px;
  font-size: 35px;
}

.main__input {
  font-size: 30px;
  width: 50%;
  margin: 20px auto;
  border: 1px solid #129F45;
  border-radius: 5px;
  transition: all .4s linear;
}

.main__input:focus {
  color: #E487;
}

.main__button {
  margin: 10px auto;
  max-width: 50%;
  width: 300px;
  padding: 5px;
  font-size: 25px;
  transition: all .5s linear;
}

.main__result {
  display: none;
  font-size: inherit;
  margin: 20px;
  font-size: 24px;
  text-align: center;
}
