.header {
  width: 100%;
  background: #78D4F1;
}

.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__logo {
  width: 25px;
  height: 25px;
  margin: 0 5%;
}

.header__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFF;
}

.header__title:hover {
  text-shadow: #000 2px 0 10px;
}