* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  color: #111;
  text-decoration: none;
}

.chat {
  width: 100%;
  max-width: 1200px;
  border: 3px solid #111;
  height: 100%;
  max-height: 500px;
  margin: 30px auto;
}

.chat__messeges {
  overflow: auto;
  height: 100%;
  max-height: 380px;
  width: 100%;
  min-height: 300px;
  border-bottom: 2px solid #111;
}

.messege__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 900px;
  margin: 20px auto;
  border: 1.5px solid #111;
  border-radius: 20px;
  padding: 10px 20px;
}

.item__text {
  font-size: 20px;
}

.item__delete {
  font-size: 25px;
  transition: color .1s linear;
  background: none;
  border: 0;
}

.item__delete:hover {
  color: rgb(182, 74, 74);
  cursor: pointer;
}

.chat__input {
  width: 100%;
  padding: 40px 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input__text {
  padding: 5px;
  border: 1px solid #111;
  margin: 0 40px 0 0;
  transition: all .1s linear;
}

.input__text:focus {
  background: #ff1;
}

.input__button {
  line-height: 1;
  font-size: 20px;
  height: 25px;
  width: 80px;
}