* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  color: #111;
  text-decoration: none;
}

.chat {
  width: 100%;
  max-width: 1200px;
  border: 3px solid #111;
  height: 100%;
  min-height: 500px;
  margin: 30px auto;
}

.messeges {
  height: 100%;
  width: 100%;
  min-height: 300px;
  border-bottom: 2px solid #111;
}

.messege__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 900px;
  margin: 20px auto;
  border: 1.5px solid #111;
  border-radius: 20px;
  padding: 10px 20px;
}

.messege__text {
  font-size: 20px;
}

.delete__button {
  font-size: 25px;
  transition: color .1s linear;
}

.delete__button:hover {
  color: rgb(182, 74, 74);
  cursor: pointer;
}

.inputs {
  width: 100%;
  padding: 40px 60px;
}

.input__text {
  height: 50px;
  width: 150px;
  border: 1px solid #111;
  margin: 0 40px 0 0;
  border-radius: 20px;
  transition: all .1s linear;
}

.input__text:focus {
  background: rgb(182, 74, 74);
}

.input__button {
  margin: 20px 0 0;
  line-height: 1.5;
  font-size: 20px;
  height: 40px;
  width: 100px;
}