body {
  width: 60%;
  margin: 0 auto;
  background-color: #DBE7F5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  background-color: #FFF;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAF9FD;
}

.main__order-button {
  width: 50%;
  padding: 10px;
  cursor: pointer;
  background-color: #DBE7F5;
  font-size: 1.4em;
  border-radius: 6px;
  font-weight: 600;
}

.main__order-button:hover {
  background-color: #DBE7D7;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}

.navigation {
  margin: 0 20px;
}

.navigation__list {
  display: flex;
  list-style: none;
}

.item__link {
  padding: 20px 15px;
  margin: 10px 0;
  text-decoration: none;
  color: #000;
  font-size: 1.4em;
  width: 100%;
}

.navigation__list > li:hover {
  text-decoration: underline;
  opacity: .7;
}

.header__logo {
  margin: 0 5%;
}

.header__logo-link {
  text-decoration: none;
  color: #000;
}

.header__logo-link:hover {
  text-shadow: 2px 2px 2px #2E3231;
}

.visible {
  transition: visibility .7s, opacity .7s;
  opacity: 1;
  visibility: visible;
}

.hidden {
  transition: visibility .7s, opacity .7s;
  opacity: 0;
  visibility: hidden;
}

.discount-header {
  background-color: #FFF;
  display: none;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.discount-header__title {
  margin-left: 5%;
}

.discount__header-button {
  margin-right: 5%;
  padding: 10px;
  background-color: #DBE7F5;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1em;
  font-weight: 600;
}

.discount__header-button:hover {
  background-color: #DBE7D7;
}

.header__order-button {
  padding: 10px;
  background-color: #DBE7F5;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1em;
  font-weight: 600;
}

.header__order-button:hover {
  background-color: #DBE7D7;
}

@media (max-width: 768px) {

  body {
    width: 90%;
    margin: 0 auto;
  }

  .header__menu-icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .header__menu-icon span,
  .header__menu-icon::before,
  .header__menu-icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all .3s ease 0s;
    background-color: #000;
  }

  .header__menu-icon::before,
  .header__menu-icon::after {
    content: "";
  }

  .header__menu-icon::before {
    top: 0;
  }

  .header__menu-icon::after {
    bottom: 0;
  }

  .header__menu-icon span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }

  .navigation {
    position: fixed;
    top: 0;
    left: -100%;
    transition: left .3s ease 0s;
  }

  .navigation._active {
    left: 0%;
  }

  .navigation__list {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .list__item {
    background-color: #FFF;
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    font-size: 1.6em;
  }
}
