* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.body {
  height: 100vh;
}

.header {
  position: fixed;
  width: 100%;
  padding: 12px 34px;
  display: flex;
  align-items: center;
  background: #6200EE;
  box-shadow: 0 4px 5px rgba(0, 0, 0, .14), 0 1px 10px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .2);
}

.header__logo-title {
  margin-left: 16px;
  font-weight: 500;
  font-size: 20px;
  color: #FFF;
}

.main {
  padding-top: 60px;
  display: flex;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.main__content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 34px;
  height: 100%;
  width: 100%;
}

.main__content-item {
  object-fit: cover;
  width: 24%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .14), 0 3px 1px rgba(0, 0, 0, .12), 0 1px 5px rgba(0, 0, 0, .2);
}

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 65px;
  height: 65px;
  background: #03DAC5;
  box-shadow: 0 4px 5px rgba(0, 0, 0, .14), 0 1px 10px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .2);
  border-radius: 50%;
  right: 35px;
  bottom: 35px;
  cursor: pointer;
  z-index: 1;
}

.upload__icon {
  width: 20px;
  height: 20px;
}

.upload__input {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.screen__loader {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
  background: rgba(0,0,0,.5);
}

.active {
  display: flex;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #FFF;
  border-color: #FFF transparent;
  animation: lds-dual-ring 2s linear infinite;
}

@keyframes lds-dual-ring {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.main__images {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background: rgba(0,0,0,.5);
  z-index: 10;
}

.images__enlarged {
  max-width: 60%;
  max-height: 60%;
}

.images__active {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) {

  .main__content {
    padding: 20px;
  }

  .main__content-item {
    width: 30%;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {

  .main__content {
    padding: 15px;
  }

  .main__content-item {
    width: 100%;
    margin: 0 auto;
  }
}
