.information-panel {
  height: 265px;
  width: 258px;
  margin: 0 15px 55px;
}

.content-row {
  display: flex;
  align-items: center;
}

.content-row__information-player {
  height: 56px;
  width: 186px;
  border-radius: 5px;
}

.content-row__information-player--one {
  background-color: var(--color-player-blue);
}

.content-row__information-player--two {
  background-color: var(--color-player-violet);
  margin-top: 14px;
}

.player__icon {
  padding-left: 10px;
}

.content-player {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-player__text {
  width: 100%;
}

.content-player__count {
  border-radius: 5px;
  width: 55px;
  height: 56px;
  margin-left: 16px;
}

.content-player__count--one {
  background-color: var(--color-player-blue);
}

.content-player__count--two {
  margin-top: 14px;
  background-color: var(--color-player-violet);
}

.button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-thema-blue);
  color: inherit;
  font-size: inherit;
  font-weight: 600;
}

.button__reset-game {
  margin-top: 31px;
}

.button__resetAll {
  margin-top: 16px;
}

.button:hover,
.button:focus {
  background-color: #34BEEC;
}
