* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: #E4EFFE;
}

.blog {
  margin: 62px auto;
  width: 992px;
  height: 900px;
  background: linear-gradient(180deg, #F6F5FB 14.31%, #FEFEFF 94.46%);
  box-shadow: 0 4px 96px rgba(0, 0, 0, .18);
  border-radius: 30px;
  overflow: hidden;
}

.blog__head {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  border-radius: 30px 30px 0 0;
}

.blog__head-logo {
  margin: 13px 0 7px 48px;
  font-weight: 700;
  font-size: 42px;
  font-family: "Rubik", sans-serif;
}

.blog__head-logo::first-letter {
  color: #FF726C;
}

.blog__filter {
  display: flex;
}

/* .blog__filter-sort {
  width: 93px;
  height: 36px;
  margin-top: 17px;
  background: #F7F6FB;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.blog__filter-sort::after {
  display: inline-block;
  position: relative;
  top: -5px;
  content: "^";
  transform: rotate(-179.82deg);
} */

.blog__filter-search {
  margin: 17px 28px 17px 24px;
  padding-left: 16px;
  width: 214px;
  height: 36px;
  background: #F7F6FB;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .25);
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 21px;
  color: #C9BDBD;
}

.blog__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 47px 55px 0 52px;
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 72px);
}

.blog__preloader {
  position: fixed;
  visibility: hidden;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.blog_preloader-image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -13px;
  margin-left: -40px;
  text-align: center;
  animation: blog__preloadere 3s infinite linear;
}

@keyframes blog__preloadere {
  100% { transform: rotate(360deg)}
}

.active {
  visibility: visible;
}

.blog__publication {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 44px 33px 25px 34px;
  width: calc(50% - 25px);
  min-height: 271px;
  background: #FFF;
  box-shadow: 0 1px 50px rgba(0, 0, 0, .06);
  border-radius: 30px;
  margin-bottom: 50px;
}

.blog__publication-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  margin: 0;
}

.blog__publication-title::first-letter {
  color: #FF726C;
}

.blog__publication-message {
  padding-top: 25px;
  margin: 0;
  max-width: 342px;
  font-size: 18px;
}

.blog__publication-delete {
  align-self: flex-end;
  width: 57px;
  height: 57px;
  background: url("../img/icon.png");
  border: none;
  cursor: pointer;
}
