.field {
  display: flex;
  width: 350px;
  height: 350px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width:500px) {

  .field {
    width: 300px;
    height: 300px;
  }
}
