@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

.body {
  max-width: 1200px;
  height: auto;
  background: #B6C0C4;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.main {
  position: relative;
  width: 90%;
  min-height: 200px;
  margin: 0 auto;
  display: flex;
  background: #CECBCC;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content: center;
}

.main__header {
  width: 100%;
  min-height: 50px;
  background: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px 20px 0 0;
  justify-content: space-between;
}

.main__header-sort-and-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.main__header-title {
  margin-left: 20px;
  text-transform: uppercase;
  transition: .2s;
}

.main__header-title::first-letter {
  color: #F00;
}

.main__header-button-sort {
  font-size: 18px;
  min-width: 80px;
  min-height: 30px;
  border-radius: 15px;
  margin-right: 20px;
  transition: .2s;
  background: #F7F6FB;
}

.main__header-input-filter {
  width: 100%;
  font-size: 18px;
  min-height: 30px;
  border-radius: 15px;
  box-sizing: border-box;
  background: #F7F6FB;
}

.main__header-input-filter[type="text"] {
  padding: 0 10px;
}

.main__header-input-filter::placeholder {
  color: #CDC1C1
}

.main__container__messages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 1s;
  justify-content: center;
}

.post__title::first-letter {
  color: #F00;
  text-transform: uppercase;
}

.post {
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
  width: 400px;
  height: auto;
  background: #FFF;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 24px 38px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

.post__image {
  margin-left: 85%;
  width: 40px;
  height: 40px;
  transition: .2s;
}

.main__header-button-sort:hover,
.main__header-title:hover,
.post__image:hover {
  transform: scale(1.2);
}

.message {
  position: fixed;
  top: 0;
  width: 90%;
  height: 100vh;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.message__window {
  width: 350px;
  height: 250px;
  border: 4px solid #FFF;
  border-radius: 10px;
  box-shadow: 0 24px 38px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  background: rgba(0,0,0,.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message__button {
  font-size: 25px;
  font-weight: 600;
  width: 90px;
  height: 40px;
  background: #BDD740;
  transition: .2s;
}

.message__button:hover {
  background: #5AD65A;
  transform: scale(1.2);
}

.message__text {
  color: #FFF;
  font-size: 30px;
}

.loader__container {
  width: 100%;
  height: 100%;
  margin-top: 50%;
}

.loader-1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #000;
  background: linear-gradient(to right, #000 10%, rgba(255, 255, 255, 0) 50%);
  position: relative;
  animation: loader-1 1.5s infinite linear;
  transform: translateZ(0);
}

.loader-1::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  border-radius: 100% 0 0;
}

.loader-1::after {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #CECBCC;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (max-width: 400px) {

  .main__header {
    flex-direction: column;
  }

  .main__header-sort-and-filter {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@-webkit-keyframes loader-1 {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-1 {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
