.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.control-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__turn {
  font-size: 26px;
  color: #FFF;
  padding: 20px;
}

.cross {
  background-color: #A5D9F6;
}

.circle {
  background-color: #A5A6F6;
}

.main__players-name {
  display: flex;
  flex-direction: column;
}

.main__player {
  display: flex;
  align-items: center;
}

.player-name__input {
  padding: 20px;
  margin: 5px 0;
}

.player__score {
  padding: 13px;
  background: #A5D9F6;
  color: #FFF;
  font-size: 36px;
}

.field {
  display: flex;
  justify-content: center;
}

.box {
  min-width: 110px;
  min-height: 110px;
  text-align: center;
  background: #C4C4C4;
  font-family: "Be Vietnam Pro";
  margin: 5px;
  color: #FFF;
  font-size: 87px;
  font-weight: 500;
}

.box:hover {
  opacity: .8;
  cursor: pointer;
}

.box__player-sign {
  width: 100px;
  height: 100px;
}

.main__winner-message {
  position: absolute;
  top: 65px;
  left: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 24px;
  padding: 25px;
  border-radius: 6px;
  background: #6200EE;
  color: #FFF;
}

.main__control-buttons {
  display: flex;
}

.control-button {
  margin: 10px 20px;
}

@media (max-width: 992px) {

  .main__players-name {
    flex-direction: column;
  }

  .main__control-buttons {
    flex-direction: column;
  }
}

@media (max-width: 768px) {

  .play-section {
    display: flex;
    flex-direction: column;
  }

  .main__winner-message {
    left: 0;
  }
}

@media (max-width: 576px) {

  .input {
    width: 70%;
  }
}