.pa-auto {
  padding: auto;
}

.pa-0 {
  padding: 0;
}

.pa-4 {
  padding: .25rem;
}

.pa-8 {
  padding: .5rem;
}

.pa-10 {
  padding: .625rem;
}

.pa-16 {
  padding: 1rem;
}

.pa-24 {
  padding: 1.5rem;
}

.pa-32 {
  padding: 2rem;
}

.px-auto {
  padding-right: auto;
  padding-left: auto;
}

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.px-4 {
  padding-right: .25rem;
  padding-left: .25rem;
}

.px-8 {
  padding-right: .5rem;
  padding-left: .5rem;
}

.px-10 {
  padding-right: .625rem;
  padding-left: .625rem;
}

.px-16 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-24 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.px-32 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.px-n-4 {
  padding-right: -.25rem;
  padding-left: -.25rem;
}

.px-n-8 {
  padding-right: -.5rem;
  padding-left: -.5rem;
}

.px-n-10 {
  padding-right: -.625rem;
  padding-left: -.625rem;
}

.px-n-16 {
  padding-right: -1rem;
  padding-left: -1rem;
}

.px-n-24 {
  padding-right: -1.5rem;
  padding-left: -1.5rem;
}

.px-n-32 {
  padding-right: -2rem;
  padding-left: -2rem;
}

.pr-auto {
  padding-right: auto;
}

.pr-0 {
  padding-right: 0;
}

.pr-4 {
  padding-right: .25rem;
}

.pr-8 {
  padding-right: .5rem;
}

.pr-10 {
  padding-right: .625rem;
}

.pr-16 {
  padding-right: 1rem;
}

.pr-24 {
  padding-right: 1.5rem;
}

.pr-32 {
  padding-right: 2rem;
}

.pr-n-4 {
  padding-right: -.25rem;
}

.pr-n-8 {
  padding-right: -.5rem;
}

.pr-n-10 {
  padding-right: -.625rem;
}

.pr-n-16 {
  padding-right: -1rem;
}

.pr-n-24 {
  padding-right: -1.5rem;
}

.pr-n-32 {
  padding-right: -2rem;
}

.pl-auto {
  padding-left: auto;
}

.pl-0 {
  padding-left: 0;
}

.pl-4 {
  padding-left: .25rem;
}

.pl-8 {
  padding-left: .5rem;
}

.pl-10 {
  padding-left: .625rem;
}

.pl-16 {
  padding-left: 1rem;
}

.pl-24 {
  padding-left: 1.5rem;
}

.pl-32 {
  padding-left: 2rem;
}

.pl-n-4 {
  padding-left: -.25rem;
}

.pl-n-8 {
  padding-left: -.5rem;
}

.pl-n-10 {
  padding-left: -.625rem;
}

.pl-n-16 {
  padding-left: -1rem;
}

.pl-n-24 {
  padding-left: -1.5rem;
}

.pl-n-32 {
  padding-left: -2rem;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-4 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.py-8 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-10 {
  padding-top: .625rem;
  padding-bottom: .625rem;
}

.py-16 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-24 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-32 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-n-4 {
  padding-top: -.25rem;
  padding-bottom: -.25rem;
}

.py-n-8 {
  padding-top: -.5rem;
  padding-bottom: -.5rem;
}

.py-n-10 {
  padding-top: -.625rem;
  padding-bottom: -.625rem;
}

.py-n-16 {
  padding-top: -1rem;
  padding-bottom: -1rem;
}

.py-n-24 {
  padding-top: -1.5rem;
  padding-bottom: -1.5rem;
}

.py-n-32 {
  padding-top: -2rem;
  padding-bottom: -2rem;
}

.pt-auto {
  padding-top: auto;
}

.pt-0 {
  padding-top: 0;
}

.pt-4 {
  padding-top: .25rem;
}

.pt-8 {
  padding-top: .5rem;
}

.pt-10 {
  padding-top: .625rem;
}

.pt-16 {
  padding-top: 1rem;
}

.pt-24 {
  padding-top: 1.5rem;
}

.pt-32 {
  padding-top: 2rem;
}

.pt-n-4 {
  padding-top: -.25rem;
}

.pt-n-8 {
  padding-top: -.5rem;
}

.pt-n-10 {
  padding-top: -.625rem;
}

.pt-n-16 {
  padding-top: -1rem;
}

.pt-n-24 {
  padding-top: -1.5rem;
}

.pt-n-32 {
  padding-top: -2rem;
}

.pb-auto {
  padding-bottom: auto;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-4 {
  padding-bottom: .25rem;
}

.pb-8 {
  padding-bottom: .5rem;
}

.pb-10 {
  padding-bottom: .625rem;
}

.pb-16 {
  padding-bottom: 1rem;
}

.pb-24 {
  padding-bottom: 1.5rem;
}

.pb-32 {
  padding-bottom: 2rem;
}

.pb-n-4 {
  padding-bottom: -.25rem;
}

.pb-n-8 {
  padding-bottom: -.5rem;
}

.pb-n-10 {
  padding-bottom: -.625rem;
}

.pb-n-16 {
  padding-bottom: -1rem;
}

.pb-n-24 {
  padding-bottom: -1.5rem;
}

.pb-n-32 {
  padding-bottom: -2rem;
}

/* margin */

.ma-auto {
  margin: auto;
}

.ma-0 {
  margin: 0;
}

.ma-4 {
  margin: .25rem;
}

.ma-8 {
  margin: .5rem;
}

.ma-10 {
  margin: .625rem;
}

.ma-16 {
  margin: 1rem;
}

.ma-24 {
  margin: 1.5rem;
}

.ma-32 {
  margin: 2rem;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx-4 {
  margin-right: .25rem;
  margin-left: .25rem;
}

.mx-8 {
  margin-right: .5rem;
  margin-left: .5rem;
}

.mx-10 {
  margin-right: .625rem;
  margin-left: .625rem;
}

.mx-16 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-24 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.mx-32 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.mx-n-4 {
  margin-right: -.25rem;
  margin-left: -.25rem;
}

.mx-n-8 {
  margin-right: -.5rem;
  margin-left: -.5rem;
}

.mx-n-10 {
  margin-right: -.625rem;
  margin-left: -.625rem;
}

.mx-n-16 {
  margin-right: -1rem;
  margin-left: -1rem;
}

.mx-n-24 {
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}

.mx-n-32 {
  margin-right: -2rem;
  margin-left: -2rem;
}

.mr-auto {
  margin-right: auto;
}

.mr-0 {
  margin-right: 0;
}

.mr-4 {
  margin-right: .25rem;
}

.mr-8 {
  margin-right: .5rem;
}

.mr-10 {
  margin-right: .625rem;
}

.mr-16 {
  margin-right: 1rem;
}

.mr-24 {
  margin-right: 1.5rem;
}

.mr-32 {
  margin-right: 2rem;
}

.mr-n-4 {
  margin-right: -.25rem;
}

.mr-n-8 {
  margin-right: -.5rem;
}

.mr-n-10 {
  margin-right: -.625rem;
}

.mr-n-16 {
  margin-right: -1rem;
}

.mr-n-24 {
  margin-right: -1.5rem;
}

.mr-n-32 {
  margin-right: -2rem;
}

.ml-auto {
  margin-left: auto;
}

.ml-0 {
  margin-left: 0;
}

.ml-4 {
  margin-left: .25rem;
}

.ml-8 {
  margin-left: .5rem;
}

.ml-10 {
  margin-left: .625rem;
}

.ml-16 {
  margin-left: 1rem;
}

.ml-24 {
  margin-left: 1.5rem;
}

.ml-32 {
  margin-left: 2rem;
}

.ml-n-4 {
  margin-left: -.25rem;
}

.ml-n-8 {
  margin-left: -.5rem;
}

.ml-n-10 {
  margin-left: -.625rem;
}

.ml-n-16 {
  margin-left: -1rem;
}

.ml-n-24 {
  margin-left: -1.5rem;
}

.ml-n-32 {
  margin-left: -2rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-4 {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.my-8 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.my-10 {
  margin-top: .625rem;
  margin-bottom: .625rem;
}

.my-16 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-24 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-32 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-n-4 {
  margin-top: -.25rem;
  margin-bottom: -.25rem;
}

.my-n-8 {
  margin-top: -.5rem;
  margin-bottom: -.5rem;
}

.my-n-10 {
  margin-top: -.625rem;
  margin-bottom: -.625rem;
}

.my-n-16 {
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.my-n-24 {
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}

.my-n-32 {
  margin-top: -2rem;
  margin-bottom: -2rem;
}

.mt-auto {
  margin-top: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-4 {
  margin-top: .25rem;
}

.mt-6 {
  margin-top: .375rem;
}

.mt-8 {
  margin-top: .5rem;
}

.mt-10 {
  margin-top: .625rem;
}

.mt-16 {
  margin-top: 1rem;
}

.mt-24 {
  margin-top: 1.5rem;
}

.mt-32 {
  margin-top: 2rem;
}

.mt-n-4 {
  margin-top: -.25rem;
}

.mt-n-8 {
  margin-top: -.5rem;
}

.mt-n-10 {
  margin-top: -.625rem;
}

.mt-n-16 {
  margin-top: -1rem;
}

.mt-n-24 {
  margin-top: -1.5rem;
}

.mt-n-32 {
  margin-top: -2rem;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: .25rem;
}

.mb-8 {
  margin-bottom: .5rem;
}

.mb-10 {
  margin-bottom: .625rem;
}

.mb-16 {
  margin-bottom: 1rem;
}

.mb-24 {
  margin-bottom: 1.5rem;
}

.mb-32 {
  margin-bottom: 2rem;
}

.mb-n-4 {
  margin-bottom: -.25rem;
}

.mb-n-8 {
  margin-bottom: -.5rem;
}

.mb-n-10 {
  margin-bottom: -.625rem;
}

.mb-n-16 {
  margin-bottom: -1rem;
}

.mb-n-24 {
  margin-bottom: -1.5rem;
}

.mb-n-32 {
  margin-bottom: -2rem;
}
