<div class="form-password">
    <label class="form-label" [for]="fieldName">
        <span class="is-required">
            {{label}}
        </span>
        <app-field-errors class="error"
            [formField]=formField>
        </app-field-errors>
    </label>
    <div class="input-with-button-wrapper">
        <input #inp class="form-element"
            [ngClass]="{
                'has-error':
                formField?.invalid
                && formField?.dirty
            }"
            [name]="fieldName"
            [id]="fieldName"
            [type]="passwordFieldType"
            [value]="value"
            formControlName="password"
            (input)="changed(inp.value)"
            (blure)="touched()">

        <button type="button" class="toggle-password-visibility-button"
            [title]="passwordFieldType === 'text'
                ? 'Hide password'
                : 'Show password'"
            (click)="togglePasswordVisible()">
            {{buttonShowName}}
        </button>
    </div>
</div>