*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #45aaf2;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 1rem;
  height: 100vh;
}

.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.chat__body {
  flex: 100%;
  display: flex;
  padding: 1rem 1rem 0 1rem;
  flex-direction: column-reverse;
  overflow-y: scroll;
}

.chat__body::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.dialogue {
  flex: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.message {
  background-color: #daeefc;
  border-radius: 5px 5px 0 5px;
  padding: 1rem;
  position: relative;
  overflow-wrap: anywhere;
  margin-bottom: 1rem;
}

.message:last-of-type {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  margin-bottom: 0;
}

@keyframes slideIn {
  from {
    right: -100px;
  }
  to {
    right: 10px;
  }
}

.message:hover > .message__button {
  visibility: visible;
}

.message__text {
  margin-right: 0.75rem;
}

.message__button {
  border: 0;
  background-color: transparent;
  top: 10px;
  right: 10px;
  visibility: hidden;
  position: absolute;
}

.message__icon {
  font-size: 0.75rem;
  color: #45aaf2;
}

.chat__footer {
  border: 1px solid #a5b1c2;
  margin: 1rem;
}

.message-form {
  display: flex;
}

.message-form__input {
  flex: 1;
  font-size: 1rem;
  padding: 0 0.5rem;
  border: 0;
  outline: none;
}

.message-form__button {
  border: 0;
  background-color: transparent;
  padding: 1rem;
}

.message-form__button:hover > .message-form__icon {
  color: #45aaf2;
  transition: color 0.5s ease-in-out;
}

.message-form__icon {
  color: #a5b1c2;
}

.button--clear {
  font-size: 1rem;
  align-self: center;
  margin-bottom: 1rem;
  padding: 0.5rem 0.75rem;
  border: 0;
  background-color: transparent;
  color: #a5b1c2;
}
