body {
  background-color: #FFF7ED;
}

.header {
  max-width: 1140px;
  margin: auto;
}

.preloader {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
}

.hide {
  display: none;
}

.gallery {
  padding: 0;
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gallery__item {
  list-style: none;
  max-width: 360px;
}

.gallery__image {
  width: 100%;
}
