body {
  width: 60%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #E1EDFB;
}

.button {
  margin: 0 15px;
  padding: 30px;
  background-color: #FFF;
  border: none;
  border-radius: 9px;
  font-size: 1.6em;
}

.button:hover:enabled {
  cursor: pointer;
  border: none;
  color: #DBE7F5;
  background-color: #2E3231;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  text-shadow: 1px 1px 1px #FAF9FD;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__ball-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #7CFC00;
}

.main__character-block {
  font-size: 3em;
  min-height: 60px;
}

.main__score {
  font-size: 3em;
}

.main__progress-bar {
  width: 100%;
  height: 30px;
  background-color: #808080;
}

.sub__progress-bar {
  display: none;
  width: 100%;
  height: 30px;
  background-color: #F00;
}

.main__score-list {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  min-height: 50%;
  width: 50%;
  height: 50%;
  background-color: #DBE7D7;
  position: absolute;
  border-radius: 6px;
  overflow-y: scroll;
}

.close-button {
  position: absolute;
  display: none;
  top: 10%;
  left: 25%;
}

.new-score {
  font-size: 2em;
  margin: 20px 0;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}