* {
  margin: 0;
  padding: 0;
}

:root {
  --color-red: #FD7E77;
  --color-text: #000;
  --color-background: #FFF;
  --color-btn-hover: #FC9791;
  --border-radius-button: 4px;
}

[data-skin="light"] {
  --color-text: #000;
  --color-background: #FFF;
}

[data-skin="dark"] {
  --color-background: #000;
  --color-text: #FFF;
}

body {
  max-width: 1440px;
  min-width: 731px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-text);
}

.logo {
  width: 62px;
  height: 28px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--color-text);
}

/* .sun {
  width: 24px;
  height: 24px;
  fill: var(--color-text);
  display: none;
} */

.icon:hover {
  fill: var(--color-red);
}

.header {
  padding-left: 50px;
  padding-right: 50px;
  width: 1440px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
  background-color: var(--color-background);
}

.header__nav, .header__control {
  width: auto;
  height: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__menu {
  margin-left: 37px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--color-text);
}

.header__menu-link, .header__control_sign-in {
  padding-left: 24px;
  padding-right: 24px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-text);
  text-decoration: none;
}

.header__menu-link:hover, .header__control_sign-in:hover {
  color: var(--color-red);
}

.header__skin-btn {
  border: none;
  background-color: var(--color-background);
}

.header__btn {
  width: 99px;
  height: 48px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: var(--color-background);
  background-color: var(--color-red);
  border: none;
  border-radius: var(--border-radius-button);
  cursor: pointer;
}

.header__btn:hover {
  background-color: var(--color-btn-hover);
}

.main {
  width: 1440px;
  background-color: var(--color-background);
  box-sizing: border-box;
}

.main__dream-house {
  margin-top: 50px;
  margin-left: 165px;
  width: 1110px;
  display: flex;
  flex-wrap: wrap;
}

.main__dream-house_name {
  width: 870px;
  font-family: Merriweather;
  font-weight: 900;
  font-size: 112px;
  line-height: 100%;
  letter-spacing: -.04em;
}

.main__color-word {
  color: var(--color-red);
}

.main__dream-house_info {
  margin-top: 56px;
  margin-right: 55px;
}

.dream-house__text {
  width: 290px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--color-black);
  font-size: 16px;
  line-height: 160%;
  letter-spacing: .01em;
}

.dream-house__btn {
  margin-top: 48px;
  width: 179px;
  height: 56px;
  background-color: var(--color-red);
  border: none;
  border-radius: var(--border-radius-button);
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: var(--color-background);
  font-size: 14px;
}

.dream-house__btn:hover {
  background-color: var(--color-btn-hover);
}

.main__dream-house_picture {
  margin-top: 47px;
}

.main__build-room {
  margin-top: 112px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main__build-room_name, .main__archmove_name, .main__realize-dream_name {
  font-family: Merriweather;
  font-weight: 900;
  font-size: 48px;
  line-height: 124%;
  letter-spacing: -.04em;
}

.main__build-room_name {
  width: 535px;
}

.main__build-room_picture {
  margin-top: 40px;
  width: 1340px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main__archmove {
  margin-top: 128px;
  margin-left: 165px;
}

.main__archmove_name {
  width: 459px;
}

.main__archmove_info {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.main__archmove_picture {
  margin-right: 155px;
}

.consultation__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.consultation__list_info {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
}

.list__img {
  margin-right: 38px;
  width: 40px;
  height: 53px;
  fill: var(--color-background);
}

.guaranteed {
  width: 48px;
  height: 56px;
}

.fees {
  width: 39px;
  height: 48px;
}

.escort {
  width: 40px;
  height: 53px;
}

.list_text {
  width: 305px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: .01em;
}

.list_name {
  margin-bottom: 8px;
  font-weight: 700;
}

.free-consultation__btn {
  margin-top: 72px;
  margin-left: 83px;
  width: 205px;
  height: 56px;
  background-color: var(--color-red);
  color: var(--color-white);
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 14px;
  border: none;
  border-radius: var(--border-radius-button);
}

.free-consultation__btn:hover {
  background-color: var(--color-btn-hover);
}

.free-consultation__btn--no-margin {
  margin-top: 64px;
  margin-left: 0;
}

.main__realize-dream {
  margin-top: 64px;
  width: 1440px;
  background: linear-gradient(0deg, rgb(249, 249, 249, .6) 12%, rgba(249, 249, 249, 0) 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main__realize-dream_img {
  margin-left: 119px;
  padding-top: 88px;
}

.main__realize-dream_text {
  margin-left: 123px;
}

.main__realize-dream_name {
  width: 521px;
}

.footer {
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(180deg, rgb(249, 249, 249, .6) 12%, rgba(249, 249, 249, 0) 100%);
  background-color: var(--color-background);
  box-sizing: border-box;
}

.footer__menu, .footer_logo {
  margin-top: 93px;
  margin-left: 160px;
  margin-bottom: 94px;
}

.footer__menu {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--color-text);
}

.footer__menu-link {
  padding-left: 24px;
  padding-right: 24px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 12px;
  color: var(--color-text);
  text-decoration: none;
}

.footer__menu-link:hover {
  color: var(--color-red);
}

.footer_logo {
  margin-right: 166px;
}
