.slide-out-top {
  -webkit-animation: slide-out-top .5s cubic-bezier(.55, .085, .68, .53) both;
  animation: slide-out-top .5s cubic-bezier(.55, .085, .68, .53) both;
}

.slide-in-top {
  -webkit-animation: slide-in-top .5s cubic-bezier(.25, .46, .45, .94) both;
  animation: slide-in-top .5s cubic-bezier(.25, .46, .45, .94) both;
}

@-webkit-keyframes slide-out-top {

  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

@keyframes slide-out-top {

  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-top {

  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {

  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
