body {
  padding: 0;
}

.header {
  display: flex;
  top: 0;
  background-color: #00090A;
  border: 1px #0F404D solid;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}

.header-hidden {
  display: none;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-left: 60px;
  font-size: 30px;
  color: #630606;
}

.main__container {
  padding-top: 55px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header__menu {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  padding-right: 50px;
}

.header__menu-item {
  display: flex;
  margin-right: 50px;
}

.main__container-text {
  width: 100%;
  background-color: #F36451;
  text-align: justify;
  padding-left: 5px;
  padding-right: 5px;
}

.header__burger {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header__burger-line {
  width: 80%;
  height: 2px;
  border: 1px #FFF solid;
  margin-bottom: 3px;
}

.header__menu-item-link {
  text-decoration: none;
  color: #630606;
}

@media (max-width: 767px) {

  .header__burger {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 20px;
  }

  .header__burger-line {
    width: 80%;
    height: 2px;
    border: 1px #FFF solid;
    margin-bottom: 3px;
  }

  .header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
  }

  .header__toggle {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 30%;
  }

  .header__menu {
    display: none;
  }

  .header__menu__active {
    display: block;
    font-size: 30px;
  }

  .header-logo {
    display: flex;
    margin-left: 70px;
    font-size: 35px;
  }

  .header__logo__hidden {
    display: none;
  }
}
