body {
  background-color: #DFEAF8;
  font-family: "Lato";
}

.main-content__loader {
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background: none repeat scroll 0 0 transparent;
}

.loader__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background-image: url("load.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}

.hide {
  display: none;
}

.wrapper {
  height: auto;
  width: 845px;
  margin: 100px auto;
  border-radius: 30px;
  background-color: #F6F5FB;
}

.main-content {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 30px 30px 0 0 ;
  background-color: #FFF;
}

.header__site-title {
  display: inline-block;
  padding: 20px 20px 10px ;
  margin: 0;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 34px;
  font-weight: 900;
}

.header__site-title::first-letter {
  color: #F27171;
  text-transform: uppercase;
}

.header__sort-field {
  width: 80px;
  padding: 2px 0;
  margin: 0 20px;
  box-shadow: 2px 2px 2px 1px rgb(187, 187, 187);
  background-color: #F7F6FB;
  outline: none;
  border: none;
  border-radius: 25px;
  font-size: 22px;
  text-transform: capitalize;
}

.header__filter-field {
  padding: 7px 10px;
  width: 180px;
  background-color: #F7F6FB;
  border: none;
  border-radius: 25px;
  box-shadow: 1px -1px 1px 1px rgb(187, 187, 187);
  font-size: 16px;
}

.post-list {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 0 20px 20px;
}

.post-list__item {
  list-style: none;
  width: 300px;
  margin: 20px 10px;
  padding: 25px;
  border-radius: 25px;
  background-color: #FFF;
}

.post-list__item-title {
  font-size: 20px;
  font-weight: 900;
}

.post-list__item-title::first-letter {
  color: #F27171;
  text-transform: uppercase;
}

.trash-bnt {
  text-align: right;
}

.trash-btn__link {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
