:root {
  --white-color: #FFF;
  --white-color-dark: #E5E5E5;
  --black-color: #000;
  --gray-color-dark: #444;
  --gray-color-medium: #585858;
  --gray-color-light: #F9F9F9;
  --gray-color-lightest: #F0F0F0;
  --accented-color: #FD665E;
  --accented-color-light: hsla(3, 98%, 68%, .85);
  --main-font: roboto, sans-serif;
  --secondary-font: merriweather, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body {
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
} */

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.page-container--large {
  max-width: 1400px;
}

.page-section {
  padding: 4rem 0;
}

.page-image {
  max-width: 100%;
  height: auto;
}

.button {
  border: 0;
  background: 0;
  font-size: 14px; /* 0.875rem */
  font-family: var(--main-font);
  font-weight: 900;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .25s ease-in-out;
}

.button--accented {
  background-color: var(--accented-color);
  color: var(--white-color);
}

.button--accented:hover {
  background-color: var(--accented-color-light);
}

.button--empty {
  background: 0;
  color: var(--gray-color-medium);
  font-weight: 400;
  transition: background-color .25s ease-in-out;
}

.button--empty:hover {
  color: var(--accented-color-light);
}

.button--theme-toggler {
  background: 0;
}

.accounts-actions__theme-toggler-icon {
  fill: var(--black-color);
  height: 20px;
  width: 20px;
  align-self: center;
  transition: fill .25s ease-in-out;
}

.button--theme-toggler:hover .accounts-actions__theme-toggler-icon {
  fill: var(--accented-color);
}

.title {
  font-family: var(--secondary-font);
  font-size: 48px; /* 3rem */
  font-weight: 700;
  color: var(--black-color);
  line-height: 1.1;
}

.title--large {
  font-size: 7rem; /* 112px */
}

.title--accented {
  color: var(--accented-color);
}

.text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px; /* 1rem */
  color: var(--black-color);
  line-height: 1.8;
}

.main-header {
  padding: 1rem 0;
}

.main-header__container {
  display: flex;
  align-items: center;
}

.navigation {
  font-family: var(--main-font);
  font-weight: 400;
  display: flex;
  align-items: center;
}

.navigation__link {
  text-decoration: none;
  color: var(--gray-color-medium);
  padding: 1rem;
  transition: color .25s ease-in-out;
}

.navigation__link:hover {
  color: var(--accented-color-light);
}

.logo__icon {
  fill: var(--accented-color);
  width: 62px;
  height: 28px;
}

.navigation__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.navigation__list-item {
  margin-left: 1rem;
}

.navigation__list-item--first {
  margin-left: 0;
}

.navigation__link--first {
  padding: 0;
}

.account-actions {
  display: flex;
  margin-left: auto;
}

.hero-section__title {
  max-width: 800px;
  margin-bottom: 2rem;
}

.hero-section__main {
  display: flex;
}

.hero-section__lead {
  margin-bottom: 2rem;
  margin-right: 2.5rem;
  padding: 1rem 1rem 1rem 0;
}

.hero-section__image-container {
  width: 100%;
  height: 100%;
}

.gallery-section__title {
  margin: 0 auto;
  margin-bottom: 2.5rem;
  max-width: 600px;
}

.gallery-section__row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.gallery-section__image {
  display: flex;
}

.features-section__title {
  margin-bottom: 3rem;
  width: 500px;
}

.features-section__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-section__list {
  margin-bottom: 3rem;
  font-weight: 700;
}

.features-list {
  list-style-type: none;
  font-family: var(--main-font);
}

.feature-item {
  position: relative;
  padding-inline-start: 1rem;
  margin-bottom: 3rem;
}

.feature-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: url("icons/icons-sprite.svg#shield") center center no-repeat;
  width: 50px;
  height: 50px;
}

.feature-item__title {
  font-weight: 700;
  margin-bottom: 1rem;
}

.feature-item__lead {
  font-weight: 400;
  width: 300px;
  line-height: 1.6;
}

.footer-section {
  background: linear-gradient(180deg, var(--gray-color-light) 22.12%, rgba(249, 249, 249, 0) 100%);
}

.footer-section__navigation {
  font-size: 12px;
  font-weight: 900;
}

.footer-section__logo {
  order: 1;
  margin-left: auto;
}

.footer-section__footer {
  padding-top: 4rem;
  border-top: 1px solid var(--gray-color-lightest);
}

.footer-section__consultation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.footer-section__hero-container {
  width: 600px;
}

.footer-section__title {
  margin-bottom: 4rem;
}

/*
@media (max-width: 1024px) {

  .page-section {
    padding: 1rem;
  }

  .title--large {
    font-size: 4rem;
  }

  .hero-section__header {
    text-align: center;
  }

  .hero-section__title {
    margin-bottom: 1rem;
    max-width: 100%;
  }

  .hero-section__main {
    flex-direction: column-reverse;
  }

  .hero-section__content {
    text-align: center;
  }

  .hero-section__lead {
    margin: 0;
  }

  .hero-section__image-container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {

  .title {
    font-size: 2rem;
  }

  .title--large {
    font-size: 3rem;
  }

  .main-header__container {
    flex-direction: column;
  }

  .main-header__navigation {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .navigation__logo {
    margin-bottom: 1rem;
  }

  .account-actions {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .gallery-section__row {
    flex-wrap: wrap;
    gap: 0;
  }

  .gallery-section__image-container {
    width: 50%;
    margin: 0;
  }

  .footer-section__logo {
    margin-bottom: 0;
  }
}

@media (max-width: 481px) {
  .gallery-section__row {
    flex-direction: column;
  }
} */
