:root {
  --primary-font: roboto, sans-serif;
  --secondary-font: merriweather, sans-serif;

  --black-color: #000;
  --black-color-light: #1C1C1C;
  --gray-color: #585858;
  --gray-color-dark: #444;
  --gray-color-lightest: #F0F0F0;
  --white-color: #FFF;
  --accent-color: #FD665E;
  --accent-color-light: hsla(3, 98%, 68%, .85);

  --background-color: #FFF;
  --text-color: #000;
  --button-text-color: #FFF;
  --navigation-text-color: #444;
  --button-empty-text-color: #585858;
  --footer-line: #F0F0F0;
  --footer-gradient: linear-gradient(180deg, #F9F9F9 22.12%, rgba(249, 249, 249, 0) 100%);
}

[data-theme="dark"] {
  --background-color: #000;
  --text-color: #FFF;
  --button-text-color: #000;
  --navigation-text-color: #FFF;
  --button-empty-text-color: #FFF;
  --footer-line: #1C1C1C;
  --footer-gradient: linear-gradient(180deg, #0D0D0D 22.12%, rgba(249, 249, 249, 0) 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.page-container--large {
  max-width: 1400px;
}

.page-section {
  padding: 1rem 0;
}

.page-link {
  text-decoration: none;
}

.page-list {
  list-style: none;
}

.page-logo__icon {
  height: 65px;
  width: 65px;
  fill: var(--accent-color);
}

.page-navigation {
  text-align: center;
  font-size: .875rem;
}

.page-navigation__link {
  padding: 1rem;
  font-family: var(--primary-font);
  color: var(--navigation-text-color);
}

.page-navigation__link:hover {
  color: var(--accent-color);
}

.page-navigation__item {
  padding: .5rem;
  white-space: nowrap;
}

.button {
  border: 0;
  background: 0;
  cursor: pointer;
  font-family: var(--primary-font);
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-size: .875rem;
}

.button--empty {
  color: var(--button-empty-text-color);
}

.button--empty:hover {
  color: var(--accent-color);
}

.button--full {
  color: var(--button-text-color);
  background-color: var(--accent-color);
  font-weight: 900;
}

.button--full:hover {
  background-color: var(--accent-color-light);
}

.button--toggler__icon {
  height: 20px;
  width: 20px;
  fill: var(--gray-color-dark);
}

.button--toggler:hover .button--toggler__icon {
  fill: var(--accent-color);
}

.title {
  font-family: var(--secondary-font);
  font-weight: 700;
  color: var(--text-color);
  line-height: 1;
  font-size: 3rem;
}

.title--accent {
  color: var(--accent-color);
}

.title--large {
  font-size: 7rem;
}

.header {
  padding: 1rem 0;
}

.header__container {
  display: flex;
}

.header__logo {
  margin-right: 3rem;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__button {
  margin-right: 1rem;
}

.main-section {
  margin-bottom: 2rem;
}

.main-section__title {
  margin-bottom: 3rem;
  max-width: 800px;
}

.main-section__hero-container {
  display: flex;
}

.main-section__hero-text {
  flex: 1;
  margin-right: 2rem;
}

.main-section__lead {
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 3rem;
  color: var(--text-color);
}

.main-section__hero-image {
  flex: 3;
}

.main-section__image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.gallery-section {
  margin-bottom: 2rem;
}

.gallery-section__title {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.gallery-section__images-container {
  display: flex;
  gap: 1rem;
}

.gallery-section__image-container {
  flex: 1;
}

.gallery-section__image {
  display: flex;
  width: 100%;
  max-height: 400px;
  height: 100%;
  object-fit: cover;
}

.features-section {
  margin-bottom: 2rem;
}

.features-section__title {
  margin-bottom: 2rem;
}

.features-section__content {
  display: flex;
}

.features-section__image-container {
  margin-right: 3rem;
  width: 100%;
}

.features-section__image {
  display: flex;
  max-width: 100%;
}

.features-section__description {
  font-family: var(--primary-font);
  color: var(--black-color);
}

.features-section__list-item {
  display: flex;
  margin-bottom: 3rem;
  align-items: flex-start;
}

.features-section__icon {
  height: 50px;
  width: 100px;
  margin-right: 2rem;
  fill: none;
}

.features-section__icon-layer-1 {
  stroke: var(--text-color);
  stroke-width: 4;
  fill: none;
}

.features-section__icon-layer-2 {
  stroke: var(--accent-color);
  stroke-width: 4;
  fill: none;
}

.features-section__sub-title {
  margin-bottom: 1rem;
  color: var(--text-color);
}

.features-section__description {
  color: var(--text-color);
}

.footer-section {
  background: var(--footer-gradient);
}

.footer-section__main {
  display: flex;
  align-items: center;
}

.footer-section__footer {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--footer-line);
  padding: 2rem 0 1rem;
}

.footer-section__footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-section__title {
  width: 600px;
  margin-bottom: 2rem;
}

.footer-section__image-container {
  margin-right: 6rem;
  max-width: 100%;
  margin-bottom: 2rem;
}

.footer-section__image {
  width: 100%;
}

.footer-section__list {
  display: flex;
  font-weight: 900;
  font-size: .75rem;
  color: var(--gray-color);
}

.footer-section__logo {
  margin-left: auto;
}


@media (max-width: 1199.98px) {

  .footer-section__title {
    width: 100%;
  }

  .footer-section__image-container {
    margin-right: 2rem;
  }
}

@media (max-width: 991.98px) {

  .title {
    font-size: 2rem;
  }

  .title--large {
    font-size: 5rem;
  }

  .header__container {
    flex-direction: column;
    align-items: center;
  }

  .header__logo {
    margin: 0;
  }

  .header__navigation {
    margin-bottom: 1rem;
  }

  .header__actions {
    margin: 0;
  }

  .main-section__title {
    margin-bottom: 1.5rem;
  }

  .main-section__hero-container {
    flex-direction: column-reverse;
  }

  .main-section__hero-text {
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-section__lead {
    margin-bottom: 1.5rem;
  }

  .main-section__hero-image {
    margin-bottom: 1rem;
  }

  .gallery-section__images-container {
    flex-wrap: wrap;
  }

  .gallery-section__image-container {
    flex-basis: 40%;
  }

  .features-section__content {
    flex-direction: column;
  }

  .features-section__image-container {
    margin-right: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .footer-section {
    padding: 2rem 0;
  }

  .footer-section__main {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .footer-section__image-container {
    margin-bottom: 2rem;
  }

  .footer-section__title {
    width: 100%;
  }

  .footer-section__footer-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-section__logo {
    align-self: center;
    margin: 0;
  }
}

@media (max-width: 575.98px) {

  .title--large {
    font-size: 3rem;
  }

  .header__list {
    flex-direction: column;
  }

  .header__actions {
    flex-direction: column;
    width: 100%;
  }

  .header__button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .main-section {
    margin-bottom: 0;
  }

  .main-section__button {
    width: 100%;
    margin-bottom: 1rem;
  }

  .gallery-section {
    margin-bottom: 0;
  }

  .gallery-section__image-container {
    flex-basis: 100%;
  }

  .footer-section__button {
    width: 100%;
  }

  .features-section__list-item {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .features-section__icon {
    margin-bottom: 1rem;
  }

  .footer-section__list {
    flex-direction: column;
  }
}
