.field-input__input {
  height: 55px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 7px;
  border: 1px solid #B1B1B4;
  margin-bottom: 20px;
  padding-left: 15px;
  font-size: inherit;
}

.input__has-error {
  border: 2px solid #FF0303;
}
