.form-password {
  display: flex;
  flex-direction: column;
}

.error {
  color: #B61616;
}

.toggle-password-visibility-button {
  background: rgba(#EFEFEF, .4);
  width: 2.5rem;
  border: none;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.input-with-button-wrapper {
  position: relative;
}

.button:hover {
  opacity: .8;
  cursor: pointer;
}
