body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFF;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  background-color: #00F;
}

.main-area {
  border: solid #F00;
}

.bottom-area {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.send-button {
  height: 5.5vh;
  width: 10vh;
  margin-left: 15px;
  color: inherit;
  font-size: 17px;
  font-weight: 900;
  border: 0;
  border-radius: 15px;
  background-color: #F00;
  cursor: pointer;
  transition: transform .4s;
}

.send-button:hover {
  transform: scale(1.2);
}

.input {
  height: 5.5vh;
  width: 50vh;
  border-radius: 15px;
  text-indent: .5rem;
  outline: none;
  resize: none;
}

.input::placeholder {
  text-indent: .5rem;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  width: 60vh;
  gap: 3vh;
  font-size: large;
  font-weight: 900;
}
