@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

html {
  background: #868686;
}

.main {
  font-family: "Permanent Marker", cursive;
  width: 500px;
  height: 900px;
  background: #F8F4C2;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 2px #000;
  border-radius: 20px;
  transition: 4s;
}

.main__title {
  width: 300px;
  height: 90px;
  background: #D2691E;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: rgb(17, 28, 124);
  animation: animate_grow 2s infinite;
  box-shadow: 10px 5px 5px #A7A7A7;
}

.main__information {
  font-size: 40px;
  animation: animate_grow 2s infinite;
}

.main__ball {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball {
  width: 100px;
  height: 100px;
  background: #ABC;
  border-radius: 50% ;
  box-shadow: inset 0 -40px 150px #F00,
    0 60px 80px -30px #AAA;
  transition: .1s;
}

.main__box-from-letter {
  margin-top: 50px;
  width: 100px;
  height: 100px;
  background: #AAA;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 30px;
  box-shadow: 10px 5px 5px #A7A7A7;
  border: solid 4px #000;
}

@keyframes animate_grow {

  0% {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.button___new-game,
.button__stop-game {
  width: 120px;
  height: 60px;
  transition: .3s;
  box-shadow: 10px 5px 5px #A7A7A7;
}

.button___new-game:hover,
.button__stop-game:hover {
  transform: scale(1,1);
}

.button___new-game:hover {
  background: #5DFF48;
}

.button__stop-game:hover {
  background: #FF4848;
}

.background-AAA {
  background: #AAA;
}

.background-B6F3B6 {
  background: #B6F3B6;
}

.background-F5ADAD {
  background: #F5ADAD;
}

.background-F8F4C2 {
  background: #F8F4C2;
}

.background-box-07AC15 {
  background: #07AC15;
}

.background-box-8F0F0F {
  background: #8F0F0F;
}
