.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 360px;
  max-width: 100%;
  margin: auto;
  padding: 0;
}

.list__item {
  margin: 10px;
}

.recipe {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 360px;
  box-sizing: border-box;
  padding: 25px 20px;
  background-color: #CCC;
  font-family: Arial, Helvetica, sans-serif;
}

.recipe__stick {
  position: absolute;
  right: -23px;
  top: 22px;
  width: 70px;
  border-bottom: 20px solid #FFF;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  transform: rotate(45deg);
  text-align: center;
}

.recipe__name, .recipe__description {
  margin: 0;
  padding: 5px;
  font-weight: 400;
}

.recipe__food-pairing-title, .recipe__ingredients-title, .recipe__time-cook {
  padding: 5px;
  font-size: 18px;
}
