<div class="recipe">
  <div class="recipe__stick"  [style.border-bottom-color]="stickerColor">{{cookSpeed}}</div>
  <div><img class="recipe__image" src="#" alt="dish image" width="150px" height="150px"></div>
  <div>
    <h1 class="recipe__name">Name</h1>
    <p class="recipe__description">Description</p>
    <div class="recipe__food-pairing"><span>Food pairing:</span><span>first, second</span></div>
    <div class="recipe__ingredients"><span>Ingredients:</span><span>first, second</span></div>
    <div class="recipe__time-cook">
      <span>Time to cook:</span>
      <span class="recipe__time-cook--number">75</span>
      <span>minutes</span>
    </div>
  </div>
</div>
