<li *ngFor="let card of cards;" class="list__item recipe">
  <div class="recipe__stick"  [style.border-bottom-color]="stickerColor">{{cookSpeed}}</div>
  <div><img class="recipe__image" src="#" alt="dish image" width="150px" height="150px"></div>
  <div>
    <h1 class="recipe__name">{{card.name}}</h1>
    <p class="recipe__description">Description:{{card.description}}</p>
    <div class="recipe__food-pairing"><span>Food pairing:</span><span>{{card.food_pairing}}</span></div>
    <div
      class="recipe__ingredients"><span>Ingredients:</span><span>{{ card.ingredients | names }}</span></div>
    <div class="recipe__time-cook">
      <span>Time to cook:</span>
      <span class="recipe__time-cook--number">75</span>
      <span>minutes</span>
    </div>
  </div>
</li>

