<section class="game-container">
  <div>
    <div class="player">
      <div class="player__name player--cross">
        <svg width="30">
          <use xlink:href="assets/sprite.svg#x"></use>
      </svg>
      <h1>Player 1</h1>
      </div>
      <div class="player__score player--cross">
        <p>{{countPlayerOne}}</p>
      </div>
    </div>
    <div class="player">
      <div class="player__name player--null">
        <svg width="30" class="icon-circle">
          <use xlink:href="assets/sprite.svg#circle"></use>
      </svg>
      <h1>Player 2</h1>
      </div>
      <div class="player__score player--null">
        <p>{{countPlayerTwo}}</p>
      </div>
    </div>
    <button type="button" class="reset-button reset-button--current-game" (click)="getCurrentReset()">Reset Current Game</button>
    <button type="button" class="reset-button reset-button--all" (click)="resetAll()">Reset All</button>
    </div>>
    <app-field (getScore)="getScore($event)"></app-field>
</section>
