.player {
  display: flex;
  color: #FFF;
}

.player__name {
  display: flex;
  width: 186px;
  height: 56px;
  font-size: 30px;
  font-weight: 700;
  justify-content: space-around;
  align-items: center;
}

.player__score {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  margin-left: 16px;
  font-size: 50px;
}

.player--cross {
  background-color: #A5D9F6;
}

.player--null {
  background-color: #A5A6F6;
  margin-top: 15px;
}

.reset-button {
  display: flex;
  border: none;
  background-color: #78D4F1;
  color: #FFF;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #44636D;
}

.reset-button--current-game {
  padding: 20px;
}

.reset-button--all {
  padding: 20px 62px;
}
