<input class="field-input__input"
       [(ngModel)]="value"
       [type]="inputType"
       (click)="onTouched()"
       placeholder="Password"
       [ngClass]="{'input__has-error': loginPageComponent.controls.password.errors && loginPageComponent.controls.password.touched}"
       (ngModelChange)="handleInput($event)">

<button class="button button__show-password"
        *ngIf="loginPageComponent.controls.password.value"
        (click)="showPassword()"
        type="button">
  <svg width="20px" height="20px">
    <use [attr.href]="'/assets/svg/sprites.svg#'+inputTypeIcon +'-icon'"></use>
  </svg>
</button>
