<div class="display-current-player">
  <span *ngIf="turn; then thenBlock else elseBlock"></span>
    <ng-template #thenBlock>
      <svg class="player-icon" width="36" height="36" fill="none">
        <use xlink:href="#cross" href="#cross"></use>
      </svg>
    </ng-template>
    <ng-template #elseBlock>
      <svg class="player-icon" width="41" height="42" fill="none">
        <use xlink:href="#circle" href="#circle"></use>
      </svg>
    </ng-template>
  <span class="display-current-player__player-name" *ngIf="turn">{{turn ? 'Player 1 turn' : 'Player 2 turn'}}</span>
</div>
<div class="game-field">
  <ul class="game-field__row game-field__row--first" data-first-column>
    <li class="game-field__item" data-item (click)="onClick()"></li>
    <li class="game-field__item" data-item></li>
    <li class="game-field__item" data-item></li>
  </ul>
  <ul class="game-field__row game-field__row--second" data-second-column>
    <li class="game-field__item" data-item></li>
    <li class="game-field__item" data-item></li>
    <li class="game-field__item" data-item></li>
  </ul>
  <ul class="game-field__row game-field__row--third" data-third-column>
    <li class="game-field__item" data-item></li>
    <li class="game-field__item" data-item></li>
    <li class="game-field__item" data-item></li>
  </ul>
</div>
