<div class="display-current-player">
  <span *ngIf="turn; then thenBlock else elseBlock"></span>
    <ng-template #thenBlock>
      <svg class="player-icon" width="36" height="36" fill="none">
        <use xlink:href="#cross" href="#cross"></use>
      </svg>
      <span class="display-current-player__player-name">Player 1 turn</span>
    </ng-template>
    <ng-template #elseBlock>
      <svg class="player-icon" width="41" height="42" fill="none">
        <use xlink:href="#circle" href="#circle"></use>
      </svg>
      <span class="display-current-player__player-name">Player 2 turn</span>
    </ng-template>
</div>
<div class="game-field">
  <ul *ngFor="let item of state; index as row;" class="game-field__row" >
    <li *ngFor="let field of item; index as column;"
        class="game-field__item"
        (click)="onClick(row, column)">
    </li>
  </ul>
</div>
