.display-current-player {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 336px;
  height: 55px;
  background-color: #A5D9F6;
  padding: 10px;
}

.display-current-player__player-name {
  padding-left: 50px;
  color: #FFF;
  font: normal 500 20px/24px Roboto, serif
}

.game-field {
  width: 360px;
  height: 360px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.game-field__row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.game-field__item {
  width: 115px;
  height: 115px;
  list-style: none;
  background-color: #C4C4C4;
}

.action.active1, .action.active2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action.active1 {
  background-color: #A5D9F6;
}

.action.active2 {
  background-color: #A5A6F6;
}

@media only screen and (min-width: 500px) {

  .game-field {
    width: 470px;
    height: 470px;
  }

  .game-field__item {
    width: 140px;
    height: 140px;
  }
}


@media only screen and (min-width: 768px) {

  .game-field {
    width: 620px;
    height: 620px;
  }

  .game-field__item {
    width: 185px;
    height: 185px;
  }
}
