* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pragmatica",sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  color: #444B51;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 136px 13px 135px;
  max-height: 70px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-phone {
  display: flex;
}

.header__nav-phone-link {
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #444B51;
}

.header__nav-btn {
  margin-left: 47px;
  padding: 12px 24px;
  background: #E24329;
  border-radius: 21.5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 110%;
  border: none ;
  color: #FFF;
  cursor: pointer;
}

.header__nav-language {
  display: flex;
}

.header__nav-language-icon {
  margin-left: 42px;
}

.header__nav-language-link {
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #828282;
}

.delivery {
  position: relative;
  padding: 136px 0 203px 135px;
  background-color: #E24329;
  max-height: 743px;
}

.delivery__wrapper {
  max-width: 650px;
}

.delivery__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 68px;
  color: #FFF;
}

.delivery__description {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #FFF;
}

.delivery__track {
  display: flex;
}

.delivery__track-input {
  margin-top: 58px;
  border: 1px solid #BDBDBD;
  border-radius: 30px 0 0 30px;
  padding: 19px 129px 18px 39px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #BABABA;
}

.delivery__track-btn {
  margin-top: 58px;
  padding: 23px 31px 21px;
  background: #FF6A00;
  border-radius: 0 30px 30px 0;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFF;
  cursor: pointer;
}

.delivery__picture {
  margin: 90px 98px 0 0;
  max-width: 620px;
  max-height: 500px;
  position: absolute;
  top: 0;
  right: 0;
}

.delivery__img {
  width: 100%;
}

.benefits {
  padding: 100px 135px;
}

.benefits__title {
  text-align: center;
}

.benefits__description {
  margin-top: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #444B51;
}

.benefits__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.benefits__item {
  display: flex;
  margin: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px 24px 25px 25px;
  max-width: 30%;
  border-radius: 16px;
}

.benefits__item:nth-child(1) {
  background: #FFF3EB;
}

.benefits__item:nth-child(2) {
  background: #ECEDFF;
}

.benefits__item:nth-child(3) {
  background: #FFECF1;
}

.benefits__item:nth-child(4) {
  background: #F6F6F6;
}

.benefits__item:nth-child(5) {
  background: #FFFAEC;
}

.benefits__item:nth-child(6) {
  background: #FFF3EB;
}

.benefits__item:nth-child(7) {
  background: #EEFFF3;
}

.benefits__item:nth-child(8) {
  background: #FFECF1;
}

.benefits__item:nth-child(9) {
  background: #ECEDFF;
}

.benefits__item-title {
  margin-top: 34px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #444B51;
}

.benefits__item-description {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #444B51;
}

.apply {
  display: flex;
  align-items: center;
  margin-left: 15px;
  padding: 0 153px 100px;
}

.apply__picture {
  max-width: 650px;
  max-height: 500px;
}

.apply__img {
  width: 100%;
}

.apply__content {
  display: flex;
  flex-direction: column;
}

.apply__content-discription {
  max-width: 460px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #444B51;
}

.apply__content-btn {
  max-width: 200px;
  margin-top: 43px;
  padding: 15px 49px;
  background: #E24329;
  border-radius: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 110%;
  border: none ;
  color: #FFF;
  cursor: pointer;
}

.news {
  padding: 0 120px 100px 150px;
}

.news__title {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.news__posts {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news__post {
  display: flex;
  flex-direction: column;
  max-width: 32%;
}

.news__post-picture {
  max-width: 370px;
  max-height: 300px;
  border-radius: 10px;
}

.news__post-img {
  width: 100%;
}

.news__signature {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.news__signature-views {
  display: flex;
}

.news__signature-text {
  font-family: Segoe UI;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666;
}

.news__signature-views-text {
  margin-left: 9px;
  font-family: Segoe UI;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666;
}

.news__post-title {
  margin-top: 26px;
  font-family: Segoe UI;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #474747;
}

.news__post-description {
  margin-top: 29px;
  max-width: 355px;
  font-family: Segoe UI;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666;
  height: 90px;
}

.news__learn {
  display: flex;
  align-items: center;
  margin-top: 32px;
}


.news__learn-text {
  margin-right: 8px;
  font-family: Segoe UI;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #29DBCC;
}

.news__learn-arrow {
  width: 18px;
  height: 16px;
}

.clients {
  padding: 0 135px 95px 177px;
}

.clients__title {
  text-align: center;
}

.clients__content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.footer {
  background: #FFF2EF;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 74px 275px 30px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__contacts-logo {
  max-width: 270px;
}

.footer__contacts-address {
  margin-top: 30px;
  max-width: 300px;
  font-weight: 400;
  font-size: 18px;
  color: #444B51;
}

.footer__contacts-social {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  max-width: 270px;
}

.footer__links-title, .footer__policy-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #444B51;
}

.footer__links-items, .footer__policy-items {
  list-style-type: none;
  margin-top: 37px;
}

.footer__links-items, .footer__policy-items {
  list-style-type: none;
  margin-top: 21px;
}

.footer__links-item, .footer__policy-item {
  margin-top: 16px;
}

.footer__links-item-link, .footer__policy-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #444B51;
}

.footer__description {
  padding: 13px;
  background: #E24329;
}

.footer__description-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
}
