* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 400px;
  height: 500px;
}

main, .divMessages, .btnSend, .msg { 
  border: 2px solid #000;
}

.divMessages {
  width: 386px;
  height: 450px;
  overflow: auto;
}

.blockSend, .divMessages {
  margin: 5px;
}

.inputMessage {
  padding-left: 3px;
  width: 277px;
  height: 27px;
}

.btnSend {
  width: 100px;
  height: 31px;
  border-radius: 4px;
}

.messageBox {
  position: relative;
  margin: 10px;
  padding: 10px;
  width: 89%;
  height: auto;
  border-radius: 12px;
}