.dashboard {
  box-sizing: border-box;
  width: 260px;
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  flex-flow: column;
  padding: 20px;
}

.dashboard__btn {
  box-sizing: border-box;
  width: 260px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid #78D4F1;
  background-color: #78D4F1;
  color: #FFF;
  font: normal 500 20px/24px Roboto, serif;
}
