* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  border: 10px solid rgb(187, 187, 187);
  background: rgb(0, 162, 255);
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  opacity: 0.876;
  overflow: hidden;
}

.main__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 50px;
}

.header__logo {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__logo::first-letter {
  color: rgb(255, 38, 0);
}

.header__rightSide {
  display: flex;
  flex-direction: row;
  margin: 0 20px 0 300px;
}

.sort__section {
  font-size: 16px;
  height: 25px;
  width: 90px;
  border-radius: 7px;
  text-transform: uppercase;
}

.rightSide__filter {
  height: 25px;
  font-size: 16px;
  width: 120px;
  margin: 0 0 0 30px;
}

.main__blog {
  background: rgb(212, 212, 212);
  padding: 30px 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog__post {
  position: relative;
  margin: 0 0 30px;
  width: 45%;
  padding: 20px;
  background: rgb(255, 255, 255);
  opacity: 0.876;
  border-radius: 30px;
}

.post__title {
  margin: 0 0 25px;
  font-size: 20px;
  text-transform: uppercase;
}

.post__title::first-letter {
  color: rgb(255, 38, 0);
}

.post__text {
  font-size: 17px;
  margin: 0 0 25px;
}

.post__delete {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 100%;
  text-align: right;
}

.delete__button {
  width: 50px;
}