body {
  padding-top: 70px;
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 700px;
}

.header.hide {
  transform: translateY(-70px);
}

main {
  background-color: azure;
  padding: 10px;
  height: 100%;
}

.header {
  border: 1px solid #aaa;
  background-color: tomato;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: transform .1s linear;
  box-sizing: border-box;
  z-index: 10;
}

.header__container {
  max-width: 700px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  min-height: 70px;
}

.header__logo {
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 5;
  width: 40px;
  height: 40px;
}

.menu__icon {
  display: none;
}

li {
  list-style-type: none;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}

.menu__link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #000;
  padding: 15px;
  min-width: 200px;
}

.menu__sub-list li {
  margin: 0  0 10px 0;
}

.menu__sub-list li:last-child {
  margin: 0;
}

.menu__sub-link {
  color: #fff;
  text-decoration: none;
}

.menu__sub-link:hover {
  text-decoration: underline;
}

.menu__arrow {
  display: none;
}

body.pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body.touch-screen .menu__list > li {
  display: flex;
  align-items: center;
}

/* body.touch-screen .menu__link {
  flex: 1 1 auto;
} */

body.touch-screen .menu__arrow {
  display: block;
  margin: 0 0 0 5px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
  width: 0;
  height: 0;
}

body.touch-screen .menu__list > li.active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body.touch-screen .menu__list > li.active .menu__arrow {
  transform: rotate(-180deg);
}

@media (min-width: 767px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s ease 0s;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all .3s ease 0s;
    background-color: #fff;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    padding: 100px 30px 30px 30px;
    transition: left .3s ease 0s;
    overflow: auto;
  }

  .menu__body.active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: tomato;
    z-index: 2;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 0 0 30px 0;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__list > li.active .menu__sub-list {
    display: block;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__sub-list {
    position: relative;
    background-color: #fff;
    flex: 1 1 100%;
    margin: 20px 0 0 0;
    display: none;
  }

  .menu__sub-link {
    font-size: 20px;
    color: #000;
  }
}
