body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  background-color: #333;
  transition: all .5s;
}

.header_hide {
  top: -40px;
}

.logo {
  margin: 0;
  padding: 0 15px;
  background-color: #3FAB67;
  color: #FFF;
  font-size: 18px;
  line-height: 35px;
}

.top-nav__icon {
  padding: 0 10px;
  display: inline-block;
  color: #FFF;
  line-height: 35px;
  text-decoration: none;
  cursor: pointer;
}

.top-nav__link {
  display: none;
  padding: 0 15px;
  color: #FFF;
  text-decoration: none;
  line-height: 35px;
}

.top-nav__link:hover {
  color: #333;
  background-color: #FFF;
  transition: all .5s ease;
}

.buy-btn {
  align-self: center;
  height: 30px;
  margin: 0 30px 0 auto;
  padding: 0 10px;
  border: none;
  border-radius: 7px;
  background-color: #3FAB67;
  color: #FFF;
  font-size: 16px;
}

.buy-btn:hover {
  background-color: #FFF;
  color: #333;
  cursor: pointer;
}

.main-content {
  height: 150vh;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .top-nav__link {
    display: inline-block;
  }
}
