body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  background-color: #333;
  transition: all .5s;
}

.header_hide {
  top: -40px;
}

.logo {
  margin: 0;
  padding: 0 15px;
  background-color: #3FAB67;
  color: #FFF;
  font-size: 18px;
  line-height: 35px;
}

.top-nav {
  position: absolute;
  top: 35px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: inherit;
}

.top-nav__icon {
  position: absolute;
  top: -35px;
  left: 355px;
  padding: 0 10px;
  background-color: #3FAB67;
  color: #FFF;
  line-height: 35px;
  text-decoration: none;
  cursor: pointer;
}

.top-nav__link {
  width: 360px;
  padding: 0 15px;
  text-decoration: none;
  line-height: 35px;
  color: #FFF;
}

.top-nav__link_active {
  font-weight: 900;
  color: #3FAB67;
}

.top-nav__link:hover {
  color: #333;
  background-color: #CCC;
  transition: all .7s ease;
}

.buy-btn {
  align-self: center;
  height: 30px;
  margin: 0 30px 0 auto;
  padding: 0 10px;
  border: none;
  border-radius: 7px;
  background-color: #3FAB67;
  color: #FFF;
  font-size: 16px;
}

.buy-btn:hover {
  background-color: #FFF;
  color: #3FAB67;
  cursor: pointer;
}

.main-content {
  height: 200vh;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .top-nav__link {
    display: inline-block;
    padding: 0 15px;
    line-height: 35px;
  }

  .top-nav__icon {
    display: none;
  }
}
