*{
    box-sizing: border-box;
    border: 1px solid #000;
}
body{
    background: #E4EFFE;
}

.blog{
    position: relative;
}

.header{
    /* position: absolute; */
    margin: 0 auto;
    width: 992px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 30px 30px 0px 0px;
}

.header__icon{
    position: absolute;
    width: 115px;
    height: 50px;
    margin-top: 13px;
    margin-left: 48px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 50px;
    color: #FF726C;
}

.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 830px;
    width: 992px;
    padding: 0px 47px 55px 40px;
    border-radius: 0px 0px 30px 30px;
    background: linear-gradient(180deg, #F6F5FB 14.31%, #FEFEFF 94.46%);
    box-shadow: 0px 4px 96px rgba(0, 0, 0, 0.18);

}

.content__article {
    /* position: absolute; space-around*/
    width: 416px;
    height: 340px;
    padding: 34px 44px 40px 25px;
    margin-top: 53px;
    background: #FFFFFF;
    box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
}

.article__remove--btn{
    width: 57px;
    height: 57px;

}