* {
  box-sizing: border-box;
}

body {
  background: #E4EFFE;
}

.blog {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 992px;
  height: 70px;
  background: #FFF;
  border-radius: 30px 30px 0 0;
}

.header__icon {
  width: 115px;
  height: 50px;
  margin-top: 13px;
  margin-left: 48px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 50px;
}

.header__icon::first-letter {
  color: #FF726C;
}

.header__inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  margin-right: 28px;
  width: 347px;
}

.header__sort {
  width: 93px;
  height: 36px;
  background: #F7F6FB;
  padding-left: 16px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
  border-radius: 30px;
}

.header__filter {
  width: 230px;
  height: 36px;
  padding-left: 16px;
  background: #F7F6FB;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .25);
  border-radius: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  min-height: 830px;
  width: 992px;
  padding: 0 47px 55px 40px;
  border-radius: 0 0 30px 30px;
  background: linear-gradient(180deg, #F6F5FB 14.31%, #FEFEFF 94.46%);
  box-shadow: 0 4px 96px rgba(0, 0, 0, .18);
}

.content__article {
  position: relative;
  width: 416px;
  height: 340px;
  padding: 34px 44px 40px 25px;
  margin-top: 53px;
  background: #FFFF;
  box-shadow: 0 1px 50px rgba(0, 0, 0, .06);
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.article__text::first-letter,
.content__article::first-letter {
  text-transform: uppercase;
}

.article__title {
  height: 50px;
}

.img_remove {
  width: 57px;
  height: 57px;
  top: 258px;
  left: 316px;
}

.article__removebtn {
  width: 57px;
  height: 57px;
  background: transparent;
  position: absolute;
  top: 258px;
  left: 316px;
  cursor: pointer;
  border: none;
}

.loading {
  margin: 0 auto;
  margin-top: 100px;
  min-width: 200px;
  height: 200px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
}