body {
  background-color: rgb(223,234,248);
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: rgb(246,245,251);
  height: 80%;
  width: 60%;
  border-radius: 15px;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(255,255,255);
  height: 10%;
  width: 100%;
  margin-bottom: 40px;
  border-radius: 15px 15px 0 0;
  justify-content: left;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
  margin-bottom: 40px;
}

.article {
  height: 40%;
  width: 40%;
  background-color: rgb(255, 255, 255);
  text-align: left;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
}

.headerName {
  position: relative;
  left: 5%;
}

.headerForm {
  position: relative;
  left: 60%;
}

.headerFilter {
  position: relative;
  left: 65%;
}