.message {
  padding: 1rem;
  display: inline-block;
  background-color: var(--message-background-color);
  border: 2px solid;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.fade-in {
  animation: fade-in 1.2s ease-out both;
}

.fade-out {
  animation: fade-out 1s ease-out both;
}

@keyframes fade-in {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
