body {
  overflow-y: scroll;
}

.page {
  display: block;
  width: 1240px;
}

.page__track {
  display: flex;
  width: 1240px;
  height: 700px;
  background-color: #E72B2B;
  justify-content: flex-start;
  align-items: center;
}

.page__track_textfield {
  display: block;
  margin-left: 100px;
}

.page__track_textfield-text-big {
  font-size: 45px;
  color: #EFF3F3;
}

.page__track_textfield-text-small {
  font-size: 20px;
  color: #EFF3F3;
}

.page__bonik {
  width: 620px;
  height: 500px;
}

.page__track_inputfield {
  display: flex;
}

.page__track_inputfield-input {
  width: 250px;
  height: 50px;
  font-size: 20px;
  padding-left: 20px;
  border: #000 2px solid;
  border-right: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.page__track_inputfield-button {
  width: 150px;
  height: 56px;
  font-size: 20px;
  background-color: #FF9100;
  border: #000 2px solid;
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.page__title {
  text-align: center;
  font-size: 40px;
}

.page__text {
  text-align: center;
  font-size: 25px;
}

.page__offers {
  display: flex;
  width: 1240px;
  height: 500px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.page__offers-block {
  width: 370px;
  height: 200px;
  margin-top: 30px;
  display: block;
  text-align: center;
  padding-top: 30px;
}

.page__offers-block-color-a {
  background-color: #FFE4C4;
}

.page__offers-block-color-b {
  background-color: #E28E6F;
}

.page__offers-block-color-c {
  background-color: #90CFCF;
}

.page__apply {
  display: flex;
  width: 1240px;
  height: 600px;
  margin-top: 300px;
  justify-content: flex-end;
  align-items: center;
}

.page__apply-aside {
  display: block;
}

.page__apply-aside-lines {
  font-size: 25px;
}

.page__apply-aside-button {
  width: 350px;
  height: 60px;
  margin-top: 20px;
  margin-left: 100px;
  font-size: 30px;
  background-color: #B41111;
  border-radius: 50%;
  color: #F0F8FF;
}

.page__news {
  display: flex;
  width: 1240px;
  height: 550px;
  justify-content: space-around;
}

.page__news-block-img {
  width: 370px;
  height: 300px;
}

.page__news-block-big {
  font-size: 23px;
}

.page__news-block-text {
  width: 350px;
  margin-top: 10px;
}

.page__news-block-signature {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.page__news-block-signature-right {
  display: flex;
}

.page__news-block-signature-img {
  width: 30px;
  height: 15px;
}

.page__clients {
  margin-left: 30px;
}

.page__bottom {
  display: flex;
  width: 1240px;
  height: 300px;
  background-color: #C47676;
  align-items: center;
  margin-top: 30px;
  justify-content: space-around;
}

.page__bottom-image {
  width: 370px;
  height: 200px;
}

.page__bottom-list {
  font-size: 25px;
}

.page__bottom-list-items {
  list-style-type: none;
  margin-bottom: 10px;
  margin-left: 40px;
}

.page__bottom-list-links {
  text-decoration: none;
  color: #E3F3F3;
}

.page-copyright {
  width: 1240px;
  height: 50px;
  background-color: #B41111;
  color: #F0F8FF;
  text-align: center;
  padding-top: 25px;
}
