body {
  overflow-y: scroll;
}

.page {
  display: block;
  width: 1240px;
}

.page__track {
  display: flex;
  width: 1240px;
  height: 700px;
  background-color: #E72B2B;
  justify-content: flex-end;
  align-items: center;
}

.page__track_textfield {
  display: block;
  margin-right: 500px;
}

.page__track_textfield-text-big {
  font-size: 55px;
  color: #EFF3F3;
}

.page__track_textfield-text-small {
  font-size: 20px;
  color: #EFF3F3;
}

.page__track-bonik {
  display: flex;
  position: absolute;
  width: 620px;
  height: 500px;
}

.page__track_inputfield {
  display: flex;
}

.page__track_inputfield-input {
  width: 250px;
  height: 50px;
  font-size: 20px;
  padding-left: 20px;
  border: #000 2px solid;
  border-right: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.page__track_inputfield-button {
  width: 150px;
  height: 56px;
  font-size: 20px;
  background-color: #FF9100;
  border: #000 2px solid;
  border-left: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.page__title {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}

.page__text {
  text-align: center;
  font-size: 25px;
}

.page__offers {
  display: flex;
  width: 1240px;
  height: 500px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.page__offers-block {
  width: 370px;
  height: 260px;
  margin-top: 30px;
}

.page__offers-block-color-a {
  background-color: #FFE4C4;
}

.page__offers-block-color-b {
  background-color: #E28E6F;
}

.page__offers-block-color-c {
  background-color: #90CFCF;
}
