* {
  box-sizing: border-box;
}

:root {
  /* consts */
  --color-transparent: transparent;
  --color-black: #000;
  --color-white: #FFF;
  --color-blue-10: #E4EFFE;
  --color-red-10: #FF726C;
  --color-red-15: #B53F3F;
  --color-green-10: #6DE592;
  --color-green-15: #57B53F;
  --color-grey-10: #F6F5FB;
  --color-grey-15: #FEFEFF;
  --color-grey-16: #F7F6FB;
  --color-grey-25: #C9BDBD;
  --color-black-rgb-025: rgb(0 0 0 / 025%);
  --color-black-rgb-18: rgb(0 0 0 / 18%);
  --color-black-rgb-05: rgb(0 0 0 / 05%);
  --color-black-rgb-0_06: rgb(0 0 0 / .06%);

  /* font */
  --font-color-1: var(--color-black);

  /* body */
  --body-background-color: var(--color-blue-10);

  /* logo */
  --logo-color-1: var(--color-red-10);
  --logo-color-2: var(--color-black);

  /* blog-header */
  --blog-header-background-color: var(--color-white);

  /* loader */
  --loader-color: var(--color-red-10);
  --loader-background-color: var(--color-black-rgb-05);

  /* filter */
  --filter-background-color: var(--color-grey-16);
  --filter-box-shadow-color: var(--color-black-rgb-025);
  --filter-placeholder-color: var(--color-grey-25);

  /* select */
  --select-background-color: var(--color-grey-16);
  --select-box-shadow-color: var(--color-black-rgb-025);

  /* news-item */
  --news-item-background-color: var(--color-white);
  --news-item-box-shadow-color: var(--color-black-rgb-0_06);
  --news-item-title-color-1: var(--color-red-10);
  --news-item-title-color-2: var(--color-black);
  --news-item-button-background-color: var(--color-transparent);
  --news-item-button-hover-color: var(--color-red-10);

  /* message */
  --message-success-background-color1: var(--color-green-10);
  --message-success-background-color2: var(--color-green-15);
  --message-error-background-color1: var(--color-red-10);
  --message-error-background-color2: var(--color-red-15);
  --message-text-color: var(--color-white);
}

body {
  min-width: 535px;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--body-background-color);
  color: var(--color-black);
  font-family: "Roboto", "Rubik", sans-serif;
  font-weight: 400;
  overflow: hidden;
}

.blog {
  flex: 1;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, var(--color-grey-10) 14.31%, var(--color-grey-15) 94.46%);
  box-shadow: 0 4px 96px var(--color-black-rgb-18);
  border-radius: 30px;
  overflow: hidden;
}

.blog__news {
  position: relative;
  flex: 1;
  z-index: 1;
}

.blog__header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blog-header-background-color);
}

.logo {
  margin-right: 1rem;
  color: var(--logo-color-2);
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 1.62rem;
  line-height: 2.12rem;
  text-transform: uppercase;
  text-decoration: none;
}

.logo::first-letter {
  color: var(--logo-color-1);
}

.logo:hover {
  text-decoration: underline;
}

.controls {
  display: flex;
  align-items: center;
}

.input {
  margin-left: 1rem;
  padding: .5rem 1rem;
  background-color: var(--filter-background-color);
  box-shadow: inset 0 1px 2px var(--filter-box-shadow-color);
  border: none;
  border-radius: 30px;
  font-size: 1.125rem;
  line-height: 1.3rem;
}

.select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.select__current-type {
  padding: .5rem;
  display: flex;
  align-items: center;
  background: var(--select-background-color);
  box-shadow: 0 1px 4px var(--select-box-shadow-color);
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.select__list {
  visibility: hidden;
  background: var(--select-background-color);
  box-shadow: 0 1px 4px var(--select-box-shadow-color);
  border-radius: 15px;
  cursor: pointer;
  z-index: 2;
}

.select__list.active {
  visibility: visible;
}

.select__list-variant {
  width: 100%;
  padding: .5rem;
  border: none;
  cursor: pointer;
  transition: opacity .3s, background-color .3s;
}

.select__list-variant:first-child {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.select__list-variant:last-child {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.select__list-variant:hover {
  background-color: var(--color-transparent);
  opacity: .7;
}

.controls__filter::placeholder {
  color: var(--filter-placeholder-color);
}

.controls__sort {
  display: flex;
  align-items: center;
}

.controls__sort-label {
  margin-right: .5rem;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--loader-background-color);
  z-index: 2;
}

.loader.active {
  display: flex;
}

.loader svg {
  color: var(--loader-color);
}

.blog__news {
  overflow-x: auto;
}

.blog__news-list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--news-item-background-color);
  box-shadow: 0 1px 50px var(--news-item-box-shadow-color);
  border-radius: 30px;
}

.news-item__title {
  margin: 0 0 1rem;
  color: var(--news-item-title-color-2);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
}

.news-item__title::first-letter {
  color: var(--news-item-title-color-1);
  text-transform: uppercase;
}

.news-item__text {
  margin: 0 0 1rem;
  font-size: .75rem;
  line-height: 1em;
}

.news-item__text:last-child {
  margin: 0;
}

.news-item__footer {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.news-item__footer-button {
  background-color: var(--news-item-button-background-color);
  border: none;
  cursor: pointer;
  transition: color .3s;
}

.news-item__footer-button:hover,
.news-item__footer-button:focus {
  color: var(--news-item-button-hover-color);
}

.message__wrapper {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  z-index: 10;
}

.message__item {
  padding: 1rem;
  color: var(--message-text-color);
  box-shadow: 0 4px 96px var(--color-black-rgb-18);
  border-radius: 30px;
}

.message__item--success {
  background: linear-gradient(180deg, var(--message-success-background-color1) 14.31%, var(--message-success-background-color2) 94.46%);
}

.message__item--error {
  background: linear-gradient(180deg, var(--message-error-background-color1) 14.31%, var(--message-error-background-color2) 94.46%);
}

@media screen and (min-width: 768px) {

  body {
    padding: 3.87rem;
  }

  .blog__header {
    padding: 1rem 1.75rem;
  }

  .logo {
    font-size: 2.62rem;
    line-height: 3.12rem;
  }

  .blog__news-list {
    padding: 2.93rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .news-item {
    width: calc(50% - 1rem);
  }

  .news-item__title {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .news-item__text {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
