* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding-bottom: 5px;
  width: 80%;
  height: 100%;
  border: 1px solid #B3B1B1;
}

.header {
  width: 80%;
  position: fixed;
  height: 40px;
  background-color: #000;
  z-index: 3;
  top: 0;
  transition: transform .5s linear;
}

.header--hidden {
  transform: translateY(-40px);
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFF;
}

.header__logo {
  width: 90px;
  height: 40px;
  padding: 0 18px;
  background-color: #20AD70;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montagu Slab", serif;
  font-size: 20px;
}

.header__menu-list {
  list-style-type: none;
}

.header__nav-link {
  padding: 12px 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #FFF;
}

.header__nav-link:hover {
  background-color: #FFF;
  color: #000;
}

.header__nav-link:active {
  background-color: #FFF;
  color: #20AD70;
}

.icon {
  text-decoration: none;
}

.header__nav .icon {
  display: none;
  color: #FFF;
  padding: 10px;
}

@media screen and (max-width: 520px) {
  .header__nav .header__nav-link { display: none; background-color: #000;}
  .header__nav a.icon { display: block; }
  .section, .header { width: 100%; }
  .header__nav-link:hover { color: #FFF; }
  .header--hidden { transform: translateY(-160px); }
  .header__nav { align-items: unset; background-color: #20AD70; }
  .header__menu.responsive { position: absolute; left: 0; margin-top: 40px; width: 100%; display: flex; flex-direction: column; z-index: 2; }
  .header__menu.responsive .icon { position: absolute; right: 0; top: -40px; }
  .header__menu.responsive .header__nav-link { display: block; text-align: left;}
}

.main {
  padding: 40px 15px;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
