.todo-item {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  margin: 20px 0;
  padding: 5px;
  min-width: 350px;
  border-radius: 6px;
}

.todo-item__actions {
  display: flex;
}

.todo-item__name {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  overflow-x: hidden;
  width: 200px;
}

.todo-item__edit {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

@media (max-width: 768px) {

  .todo-item {
    min-width: 300px;
  }

  .todo-item__name {
    width: 100px;
  }

  .todo-item__edit {
    width: 300px;
  }

  .edit__input {
    padding: 6px 0;
  }
}