* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 5%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 35px 50px;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
}

.nav__link {
  margin-right: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 286%;
  text-align: center;
}

.header__controls {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.controls__light {
  max-width: 24px;
  width: 100%;
}

.controls__in {
  margin-left: 40px;
}

.controls__up {
  margin-left: 40px;
  width: 99px;
  height: 48px;
  border-radius: 4px;
  font-weight: 900;
  font-size: 14px;
  line-height: 286%;
  text-align: center;
}

.page__start {
  height: 800px;
  position: relative;
  margin-bottom: 130px;
}

.start__heading {
  max-width: 870px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 8vw;
  line-height: 100%;
}

.start__message {
  max-width: 290px;
  font-size: 16px;
  line-height: 160%;
}

.start__button {
  width: 179px;
  height: 56px;
  border-radius: 4px;
  font-weight: 900;
  font-size: 14px;
  line-height: 286%;
  text-align: center;
}

.start__image {
  max-width: 100%;
  position: absolute;
  right: 11.5%;
  bottom: 0;
  z-index: -1;
}

.page__rooms {
  margin-bottom: 130px;
}

.rooms__heading {
  max-width: 535px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 3.3vw;
  line-height: 124%;
  margin: 0 auto;
  text-align: center;
}

.rooms__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 40px 50px;
}

.rooms__image {
  max-width: 22%;
}

.page__needs {
  margin-left: 11.5%;
  margin-bottom: 10%;
}

.needs__heading {
  max-width: 459px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 3.3vw;
  line-height: 124%;
  text-align: center;
}

.needs__content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 159px;
}

.needs__image {
  max-width: 100%;
}

.needs__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  max-width: 391px;
  display: flex;
  column-gap: 40px;
}

.item__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin-top: 0;
}

.item__text {
  max-width: 305px;
  font-size: 16px;
  line-height: 160%;
}

.needs__button {
  margin-top: 80px;
  width: 205px;
  height: 56px;
  border-radius: 4px;
  font-weight: 900;
  font-size: 14px;
  line-height: 286%;
  text-align: center;
}

.page__dream {
  margin: 0 auto 200px;
  width: 100%;
  max-width: 1440px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 138px;
  align-items: center;
}

.dream__heading {
  max-width: 521px;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 3.3vw;
  line-height: 124%;
}

.dream__button {
  width: 205px;
  height: 56px;
  border-radius: 4px;
  font-weight: 900;
  font-size: 14px;
  line-height: 286%;
  text-align: center;
}

.dream__image {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, .25));
}

.line {
  width: 100%;
  height: 1px;
}

.footer {
  margin: 50px 165px;
  display: flex;
  flex-wrap: wrap;
}

.footer__nav * {
  margin-right: 48px;
  font-weight: 900;
  font-size: 12px;
  line-height: 333%;
  text-align: center;
}

.footer__logo {
  margin-left: auto;
}
