body {
  display: flex;
  justify-content: center;
  background-color: rgba(228, 228, 228);
  font-size: 20px;
  color: rgba(57, 50, 47);
}

.game-section {
  margin-top: 20px;
  max-width: 125px;
  background-color: inherit;
  padding: 35px;
  border-radius: 10px;
  justify-content: space-around;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.game-section__total-score {
  border-radius: 100px;
  max-width: 25px;
  min-width: 25px;
  text-align: center;
  background-color: #859FA9;
  padding: 30px;
  margin-bottom: 30px;
}

.game-section__current-score {
  text-align: center;
  margin-bottom: 30px;
}

.game-section__letters-container {
  text-align: center;
  max-width: 25px;
  min-width: 25px;
  border-radius: 10px;
  background-color: #859FA9;
  padding: 30px;
}
