.container {
  display: block;
  height: 650px;
  width: 500px;
  border: solid 2px rgb(128, 128, 128);
  margin: auto;
}

.main {
  display: block;
  height: 90%;
  width: 100%;
  overflow: auto;
  background-image: url("cat_space.jpg");
}

.footer {
  display: block;
  height: 10%;
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.message {
  display: block;
  height: auto;
  width: auto;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(154, 205, 50);
  overflow: hidden;
  overflow-wrap: break-word;
  border: solid 1px rgb(128, 128, 128);
  border-radius: 10px;
  text-align: left;
  padding-left: 10px;
  font-size: 20px;
}

.input {
  display: inline-block;
  margin-left: 5px;
  height: 100%;
  width: 70%;
  text-align: left;
  background-color: rgb(245, 245, 245);
  border: none;
  cursor: text;
  font-size: 20px;
  padding: 0;
  font-style: italic;
}

.send {
  height: 25%;
  width: 20%;
  text-align: center;
  background-color: rgb(245, 245, 245);
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  font-style: italic;
}

.form {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: rgb(245, 245, 245);
}