html,
body {
  height: 100%;
  background-color: #E0EDFD;
  color: #000;
  font-family: sans-serif;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #E0EDFD;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__show {
  width: 75px;
  height: 75px;
  border: 10px solid #C392F1;
  border-radius: 50%;
  border-left-color: #5103A2;
  animation: loader 500ms linear infinite;
}

@keyframes loader {

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  display: none;
}

.holder__header__title::first-letter,
.content__article__title::first-letter,
.content__article__text::first-letter {
  text-transform: uppercase;
  color: #F30606;
}

.holder {
  max-width: 992px;
  min-height: 900px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  background-color: #F6F5FB;
  border-radius: 30px;
}

.holder__header {
  height: 70px;
  width: 992px;
  border-radius: 30px 30px 0 0;
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
}

.holder__header__title {
  margin: 13px;
  font-family: "Rubik";
  font-size: 42px;
  line-height: 50px;
}

.holder__header__select {
  min-width: 93px;
  height: 36px;
  margin: 17px 1px 21px 210px;
  background: #F7F6FB;
  border-radius: 30px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 17px;
}

.holder__header__input {
  width: 230px;
  height: 36px;
  margin: 15px 38px 17px 1px;
  background: #F7F6FB;
  border-radius: 30px;
}

.holder__header__input[type] {
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.holder__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 50px 30px;
}

.holder__content__article {
  margin-top: 50px;
  padding: 44px 20px 28px;
  width: 380px;
  height: 340px;
  background: #FFF;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__article__text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}

.content__article__title {
  font-family: "Roboto";
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  vertical-align: top;
}

.content__article__delete {
  margin-left: 290px;
  width: 57px;
  height: 57px;
  background-color: inherit;
  border: none;
  padding: 0;
  border-radius: 10px;
}

.content__article__delete--activ:hover,
.holder__header__select--activ:hover,
.holder__header__input--activ:hover {
  background-color: #D9D9D9;
}
