@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

*:active,
*:focus {
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-color: rgba(230, 239, 253, 1);
}

.preloader {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../img/preloader.png") no-repeat center / 128px, transparent;
  animation: pulsate-fwd .7s ease-in-out infinite both;
  transition: all .5s ease 0s;
}

@keyframes pulsate-fwd {

  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.loaded .preloader {
  opacity: 0;
  visibility: hidden;
}

.container {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-rows: 70px 1fr;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 0 0 80px 14px rgba(34, 60, 80, .2);
  overflow: hidden;
}

.header,
.header__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 10px 25px 10px 45px;
  background-color: rgba(255, 255, 255, 1);
}

.header__title {
  text-transform: uppercase;
}

.header__title::first-letter {
  color: rgb(225, 113, 112);
}

.header__sort {
  width: 80%;
  max-width: 280px;
}

.header__sort-select,
.header__sort-input > .filter-input {
  padding: 5px 10px;
  width: 100%;
  border-radius: 25px;
  font-size: 1em;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: rgba(247, 246, 251, 1);
  overflow: hidden;
  cursor: pointer;
}

.header__sort-select {
  width: 25%;
  box-shadow: 0 2px 4px 0 rgba(34, 60, 80, .2);
}

.header__sort-input {
  width: 65%;
  position: relative;
}

.header__sort-input > .filter-placeholder {
  margin: 0;
  top: 6px;
  left: 15px;
  color: rgba(0, 0, 0, .3);
  position: absolute;
  transition: all .3s;
  cursor: pointer;
}

.header__sort-input > .filter-input {
  box-shadow: 0 2px 4px 0 rgba(34, 60, 80, .2) inset;
}

.header__sort-input > .filter-input:focus + .filter-placeholder,
.header__sort-input > .filter-input:not(:placeholder-shown) + .filter-placeholder {
  transform: translate(-2px, -24px);
  font-size: .9em;
  font-weight: 500;
  color: rgba(0, 0, 0, .7);
}

.content__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px;
  padding: 40px;
  overflow: auto;
  background-color: rgba(247, 246, 251, 1);
}

.post {
  display: grid;
  grid-template-rows: auto 1fr 40px;
  padding: 30px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 20px 2px rgba(34, 60, 80, .05);
}

.post__title {
  margin-top: 10px;
}

.post__title::first-letter {
  text-transform: capitalize;
  color: rgb(225, 113, 112);
}

.post__body {
  padding: 20px 0;
}

.post__body::first-letter {
  text-transform: capitalize;
}

.post__delete {
  justify-self: end;
  background: none;
  outline: none;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.post__delete-img {
  width: 40px;
}