* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  background-color: #000;
  background-image: linear-gradient(315deg, #0E0E0E 0%, #2A2A2A 40%, #3D3C3C 70%, #58545C 94%);
}

.container {
  max-width: 1200px;
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-rows: 1fr 150px;
  width: 60%;
  height: 700px;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
  overflow: hidden;
}

.content__list {
  list-style: none;
  padding: 30px;
  overflow: auto;
  background: linear-gradient(rgb(231, 235, 177), rgb(119, 149, 204));
}

.content__item {
  width: 80%;
  min-height: 70px;
  padding: 15px;
  margin: 30px auto 0;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  position: relative;
  background: #6FB0E6;
  font-size: 24px;
}

.content__item-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.content__item-text {
  white-space: pre-line;
}

.content__item-text span {
  font-size: 50px;
  cursor: pointer;
}

.content__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background: linear-gradient(45deg, rgb(119, 149, 204) 1%, rgb(215, 227, 240));
}

.content__form-textarea {
  display: block;
  width: 70%;
  height: 80px;
  padding: 15px;
  resize: none;
  border: none;
  overflow: auto;
  border-radius: 15px;
  background: #EEE;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.content__form-textarea:focus {
  outline: none;
}

.content__form-submit {
  padding: 20px 50px;
  border: none;
  border-radius: 5px;
  color: #EEE;
  background: #AC2222C1;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: .3s ease-in;
}

.content__form-submit:hover {
  background: rgb(46, 143, 59);
  transform: scale(1.02);
}

.content__form-submit:active {
  transform: scale(1);
}
