* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E4EFFE;
}

.whole_blog {
  display: flex;
  margin-top: 62px;
  width: 992px;
  height: 900px;
  background: linear-gradient(180deg, #F6F5FB 14.31%, #FEFEFF 94.46%);
  box-shadow: 0 4px 96px hsla(0, 0%, 0%, .18);
  border-radius: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  overflow: hidden;
}

.header_blog {
  position: relative;
  width: 992px;
  height: 70px;
  background: #FFF;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo {
  margin-top: 13px;
  margin-left: 48px;
  font-family: "Rubik", sans-serif;
  font-size: 42px;
  line-height: 50px;
  color: #000;
}

.header__logo::first-letter {
  color: #FF726C;
}

.header__manipulation-sort {
  margin-top: 20px;
  margin-right: 12px;
  width: 93px;
  height: 37px;
  font-size: 24px;
}

.header__manipulation-filter {
  margin-top: 18px;
  margin-right: 28px;
  width: 230px;
  height: 30px;
  font-size: 18px;
}

.header__manipulation-sort, .header__manipulation-filter {
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  background: #F7F6FB;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
  border-radius: 30px;
}

.main__blog {
  width: 992px;
  height: 830px;
  overflow: auto;
}

.main__blog_msg {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.blog__msg {
  margin-top: 47px;
  width: 414px;
  height: 340px;
  background: #FFF;
  box-shadow: 0 1px 50px rgba(0, 0, 0, .06);
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
}

.post__title {
  margin-top: 44px;
  margin-left: 39px;
  margin-bottom: 25px;
  padding-right: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.post__title::first-letter {
  color: #FF726C;
}

.post__body {
  margin-top: 44px;
  margin-left: 39px;
  margin-bottom: 25px;
  padding-right: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}
