body {
  font-family: "Roboto", "Arial", sans-serif;
  display: flex;
  justify-content: center;
  background-image: url("photo/1_qvphkxaDna8aw0zZ8-fx5A.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: auto;
}

.main-wrapper {
  width: 70rem;
  min-height: 44rem;
  background-color: #EEEDED;
  border-radius: 20px;
  overflow-y: auto;
}

.header {
  position: relative;
  list-style-type: none;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #FFF;
  margin-bottom: 30px;
  box-sizing: border-box;
  padding: 20px;
}

.select-wapper {
  border: 2px solid #FFA45A;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  padding: 4px;
}

.select-wapper:focus-visible {
  outline: none;
  border: 2px solid #FF7605;
}

.filte-sort {
  cursor: pointer;
  background-color: #FF7605;
}

.filter-by-text {
  padding: 4px;
  border: 2px solid #FFA45A;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
}

.filter-by-text:hover {
  background-color: #FCB377;
}

.filter-by-text:focus-visible {
  outline: none;
  border: 2px solid #FF7605;
  background-color: #FF9C4B;
}

.header-title::first-letter {
  color: #F00;
}

.list-wrapper {
  overflow-y: auto;
  min-height: 39rem;
  height: max-content;
  overflow-y: auto;
}

.list {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

.tab {
  list-style-type: none;
  width: 30rem;
  height: 20rem;
  padding: 10px;
  background-color: #FFF;
  border-radius: 10px;
  margin-bottom: 15px;
  word-break: break-all;
}

.tab-error {
  list-style-type: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tab-title::first-letter {
  color: #F00;
}

.mask {
  width: 100%;
  height: 100%;
  background: #FFF;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 75px;
  height: 75px;
  border-radius: 10px solid rgb(13, 71, 161);
}