.field {
  display: grid;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: repeat(3, 110px);
  column-gap: 15px;
  row-gap: 5px;
}

@media (max-width:500px) {

  .field {
    width: 300px;
    height: 300px;
  }
}
