<header class="main-header">
  <a class="header__logo-link" href="#">
    <svg width="25" height="26">
      <use xlink:href="../assets/svg/sprites.svg#logo-icon"></use>
    </svg>
  </a>
  <h2 class="main-header__headline">Tic-Tac-Toe game</h2>
</header>
<main class="main-section">
  <h1 class="visually-hidden">Tic-Tac-Toe game</h1>
  <div class="content-wrapper">
    <div *ngIf="isPlayerMove" class="content-wrapper__player-signboard content-wrapper__player-signboard--player-1">
      <svg class="player-scoreboard__icon" width="35" height="35">
        <use xlink:href="../assets/svg/sprites.svg#x-icon"></use>
      </svg>
      <span class="player-scoreboard__text">Player 1 turn</span>
    </div>
    <div *ngIf="!isPlayerMove" class="content-wrapper__player-signboard content-wrapper__player-signboard--player-2">
      <svg class="player-scoreboard__icon" width="35" height="35">
        <use xlink:href="../assets/svg/sprites.svg#0-icon"></use>
      </svg>
      <span class="player-scoreboard__text">Player 2 turn</span>
    </div>
  </div>

  <section class="section-playground">
    <app-information-panel
      [countWinnerPlayer1]='countWinnerPlayer1'
      [countWinnerPlayer2]='countWinnerPlayer2'
      (resetCurrentGame)="resetCurrentGame()"
      (resetAllGame)="resetAll()"
    ></app-information-panel>
    <app-player-actions
      [squares]="squares"
      (sendClickElement)="onClick($event)"
    ></app-player-actions>
  </section>

</main>
