.page-header {
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, .14), 0 1px 10px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .2);
  padding: 1rem 0;
  margin-bottom: 4rem;
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header__icon {
  height: 30px;
  width: 30px;
  margin-right: 1.5rem;
}

@media (max-width: 900px) {

  .page-header {
    margin-bottom: 2rem;
  }
}
