*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #353849;
}

.page-container {
  max-width: 480px;
  margin: 0 auto;
  padding: 1rem;
}

.card {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #FFF;
}

.card:last-of-type {
  margin-bottom: 0;
}

.card__title {
  margin-bottom: 1rem;
  color: #232734;
}

.card__control {
  width: 100%;
  font-size: 1rem;
  border: 1px solid#3F4354;
  color: #232734;
  padding: .5rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

.card__control:focus {
  border-color: #03CC90;
}

.card__control--clock {
  margin-bottom: 1rem;
  border: 0;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0;
}

.card__timezone-selection {
  background-color: transparent;
}

.card__results {
  margin-bottom: 1rem;
  border: 1px solid#3F4354;
  padding: .5rem 1rem;
}

.card__button {
  width: 100%;
  border: 0;
  font-size: 1rem;
  padding: .5rem 1rem;
  background-color: #03CC90;
  color: #232734;
  font-weight: 600;
  cursor: pointer;
}

