body {
  background-color: #FEF6E4;
}

.content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messageBox {
  width: 350px;
  height: 450px;
  border: 3px solid rgb(120, 212, 255);
  overflow: auto;
  border-radius: 10px;
  background-color: rgb(183, 142, 221);
  -webkit-box-shadow: 27px -16px 35px -12px rgb(75, 75, 75);
  -moz-box-shadow: 27px -16px 35px -12px rgb(75, 75, 75);
  box-shadow: 27px -16px 35px -12px rgb(75, 75, 75);
}

.myUL {
  padding-left: 2px;
}

.close {
  display: flex;
  justify-content: flex-end;
  color: rgb(22, 0, 146);
}

.message {
  width: 200px;
  margin: 15px 10px 15px 1px;
  word-break: break-all;
  border: 3px solid rgb(88, 88, 88);
  padding: 15px;
  list-style: none;
  border-radius: 25px;
  background-color: #F3D2C1;
  -webkit-box-shadow: 23px 19px 25px -15px rgb(0, 0, 0);
  -moz-box-shadow: 23px 19px 25px -15px rgb(0, 0, 0);
  box-shadow: 23px 19px 25px -15px rgb(0, 0, 0);
}

.inputBox {
  margin-top: 10px;
  width: 350px;
}

.addBtn {
  height: 35px;
  width: 90px;
  border: 3px solid rgb(120, 212, 255);
  border-radius: 5px;
  background-color: #F3D2C1;
}

.inputMessage {
  height: 60px;
  width: 340px;
  border: 3px solid rgb(120, 212, 255);
  border-radius: 5px;
}

.addBtn:hover {
  background-color: #F582AE;
  -webkit-box-shadow: 23px 19px 25px -15px rgb(0, 0, 0);
  -moz-box-shadow: 23px 19px 25px -15px rgb(0, 0, 0);
  box-shadow: 23px 19px 25px -15px rgb(0, 0, 0);
}

.close:hover {
  cursor: pointer;
  color: rgb(226, 3, 3);
}