<div class="game__player">
    <div class="game__player-value game__player-{{id}}">
        <svg class="game__player-logo">
            <use [attr.xlink:href]="'/assets/sprite.svg#' + player.icon"></use>
        </svg>
        <input
            #input
            (input)="changeName(input.value)"
            type="text"
            [value]="player.name"
            class="game__player-name"
        >
    </div>
    <div class="game__score game__score-{{id}}">
        <p class="game__score-name">{{ player.score }}</p>
    </div>
</div>
