.recipes {
  max-width: 1440px;
  margin: 0 auto;
}

.recipes__wrapper {
  display: flex;
  margin: 30px 25px;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.recipes__card {
  display: flex;
  background: var(--background-color-card);
  overflow: hidden;
  border-radius: 8px;
}
