* {
  margin: 0;
}

.game__list {
  margin: 0 0 0 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.game__list__row {
  width: 100%;
  height: auto;
  margin: 0 0 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-item {
  width: 185px;
  height: 185px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  transition: all .3s linear;
}

.game-item__btn {
  border: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-item__default {
  background: #C4C4C4;
}

.game-item__first-player {
  background: #A5D9F6;
}

.game-item__second-player {
  background: #A5A6F6;
}

.game-item:hover {
  box-shadow: #4DB5A1 5px 5px;
}

@media screen and (max-width: 968px) {

  .game__list__row {
    margin: 0 0 20px;
  }

  .game__list__row div {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 768px) {

  .game__list__row div {
    width: 100px;
    height: 100px;
  }
}
