* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page__wrapper {
  width: 90%;
  min-height: 50%;
  margin: 0 auto;
}

.page__header {
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #24292F;
}

.header__main {
  display: flex;
  width: fit-content;
  height: 100%;
  align-items: center;
}

.header__title {
  width: 80px;
  padding: 3%;
  height: 100%;
  background-color: #44A047;
  text-align: center;
}

.header__link {
  text-decoration: none;
  color: #FFF;
}

.header__link:hover {
  text-decoration: underline;
  cursor: pointer
}

.header__burger {
  display: none;
  width: 30px;
  height: 30px;
}

.header__navigation {
  width: 60%;
  height: 100%;
  margin-left: 5%;
}

.navigation__menu {
  list-style: none;
}

.navigation__item {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-right: 2%;
}

.navigation__link {
  color: #FFF;
  text-decoration: none;
}

.navigation__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.page__main {
  width: fit-content;
  height: auto;
}

/* Media queries: */

@media screen and (max-width: 600px) {

  .page__header {
    flex-direction: column;
  }

  .header__main {
    width: 100%;
  }

  .header__burger {
    display: block;
  }

  .header__navigation {
    width: 100%;
    height: 100px;
    display: none;
  }

  li.navigation__item {
    display: block;
    margin-top: 10px;
  }
}

/* Classes for JS effects: */

.page__header--hide {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
}

.page__header--show {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s, visibility 1s;
}

.header__navigation--show {
  display: block;
}

.header__main--open {
  background-color: #44A047;
  justify-content: space-between;
}
