@font-face {
  font-family: "Pragmatica";
  src: local("Pragmatica"),
    url("fonts/pragmatica.woff") format("woff"),
    url("fonts/pragmatica.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Pragmatica";
  src: local("Pragmatica"),
    url("fonts/pragmatica-medium.woff") format("woff"),
    url("fonts/pragmatica-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pragmatica";
  src: local("Pragmatica"),
    url("fonts/pragmatica-bold.woff") format("woff"),
    url("fonts/pragmatica-bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"),
    url("fonts/segoeUI.woff") format("woff"),
    url("fonts/segoeUI.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"),
    url("fonts/segoeUI-bold.woff") format("woff"),
    url("fonts/segoeUI-bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgba(68, 75, 81, 1);
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Pragmatica", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
    "Helvetica", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(68, 75, 81, 1);
}

h2 {
  font-family: "Pragmatica";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  margin: 0;
  color: rgba(68, 75, 81, 1);
}

h3 {
  font-family: "Pragmatica";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.container {
  display: grid;
  grid-template: 2% 89.06% 8.94% / 100%;
  position: relative;
  margin: 0;
  min-height: 4071px;
  min-width: 1024px;
  background: rgb(255, 255, 255);
}

.header {
  display: grid;
  grid-template: 100% / 9.375% 18.75% 23.745% 21.53% 3.27% 7.43% 2.77% 13.13%;
}

.header__logo {
  grid-column: 2 / 3;
  align-self: center;
}

.header__phone {
  grid-column: 4 / 5;
  display: flex;
  column-gap: 10px;
  justify-self: end;
  align-items: center;
  font-weight: 500;
}

.header__phone a {
  display: flex;
  align-items: center;
  height: 70%;
  width: 100%;
  color: rgba(68, 75, 81, 1);
  transition: .7s;
}

.news__news-one-learn-more a,
.news__news-two-learn-more a,
.news__news-three-learn-more a {
  display: flex;
  text-align: center;
  max-width: 35%;
  font-family: "Segoe UI";
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  color: rgb(41,219,204);
  margin-left: 10px;
  transition: .7s;
}

.header__phone a:hover {
  color: rgb(113, 129, 143);
}

.header__sign-in-button {
  grid-column: 6 / 7;
  height: 50%;
  width: 100%;
  align-self: center;
  justify-self: center;
  font-family: "Pragmatica";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 110%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 21.5px;
  background-color: rgba(226, 67, 41, 1);
  cursor: pointer;
}

.header__sign-in-button:hover {
  background-color: rgb(228, 195, 78);
  color: rgba(68, 75, 81, 1);
}

.header__language {
  grid-column: 8 / 9;
  display: flex;
  column-gap: 10px;
  justify-self: start;
  align-items: center;
}

.header__language-select {
  border: none;
  font-family: "Pragmatica";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: rgba(68, 75, 81, 1);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  appearance: none;
  transition: .7s;
}


.main {
  display: grid;
  grid-template: 21% 28% 15% 21% 8% / 100%;
  align-content: space-between;
}

.main__delivery {
  display: grid;
  grid-template: repeat(20, 5%) / repeat(20, 5%);
  background-color: rgba(226, 67, 41, 1);
  margin-block-start: 0;
  margin-block-end: 0;
}

.delivery__delivery-is-text {
  grid-column: 3 / 13;
  grid-row: 4 / 9;
  font-weight: 900;
  font-size: 48px;
  line-height: 68px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding-right: 10%;
  margin: 0;
}

.delivery__need-to-send-text {
  grid-column: 3 / 11;
  grid-row: 11 / 13;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  padding-right: 10%;
}

.delivery__track-percel {
  display: grid;
  grid-template: 100% / 65% 35%;
  align-items: center;
  grid-column: 3 / 11;
  grid-row: 14 / 16;
  width: 100%;
  max-height: 60px;
  box-sizing: border-box;
  border-radius: 30px;
}

.track-percel__form {
  display: grid;
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}

.track-percel__form-input {
  margin: 0;
  padding: 0 2rem;
  border: solid 1px rgba(189, 189, 189, 1);
  border-radius: 30px 0 0 30px;
  background: rgba(250,	250,	250, 1);
  color: rgba(186, 186, 186, 1);
  outline: none;
  font-family: "Pragmatica";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.track-percel__form-input::placeholder {
  opacity: .6;
}

.track-percel__button {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0 30px 30px 0;
  background-color: rgba(255, 106, 0, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Pragmatica";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  transition: .7s;
}

.track-percel__button:hover {
  background-color: rgb(228, 195, 78);
  color: rgba(68, 75, 81, 1);
}

.delivery__picture {
  display: block;
  grid-column: 11 / 19;
  grid-row: 4 / 17;
  max-height: 100%;
  max-width: 100%;
}

.main__ambassador {
  display: grid;
  grid-template: 100% / 60% 40%;
}

.main__ambassador_picture {
  max-height: 520px;
  max-width: 648px;
  justify-self: end;
  align-self: center;
}

.ambassador__info {
  display: grid;
  grid-template: 22% 13% 30% 10% 25% / repeat(10, 10%);
}

.ambassador__info_title {
  align-self: flex-end;
  grid-column: 1 / 10;
  grid-row: 2 / 3;
  text-align: left;
}

.ambassador__info_text {
  align-self: center;
  max-width: 90%;
  grid-column: 1 / 10;
  grid-row: 3 / 4;
  font-size: 18px;
  line-height: 26px;
}

.ambassador__info_button {
  grid-column: 1 / 5;
  grid-row: 4 / 5;
  font-family: "Pragmatica";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 110%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(226, 67, 41, 1);
  padding: 0;
  margin: 0;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: .7s;
}

.ambassador__info_button:hover {
  background-color: rgb(228, 195, 78);
  color: rgba(68, 75, 81, 1);
}

.main__why-choose {
  display: grid;
  grid-template: 4.82% 2.72% 5.22% 2.72% 26.16% 3.02% 26.16% 3.02% 26.16% / 9.375% 25.7% 2.075% 25.7% 2.075% 25.7% 9.375%;
  align-items: center;
  text-align: center;
  color: rgba(68, 75, 81, 1);
}

.why-choose_title {
  grid-column: 1 / 8;
  grid-row: 1 / 2;
}

.why-choose_text {
  justify-self: center;
  grid-column: 1 / 8;
  grid-row: 3 / 4;
  max-width: 45%;
  font-size: 18px;
  line-height: 26px;
  color: rgba(68, 75, 81, 1);
  margin: 0;
}

.why-choose_industry-leading-tech {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  display: grid;
  grid-template: 40% 30% 30% / 100%;
  align-items: center;
  justify-items: center;
  height: 100%;
  border-radius: 16px;
  background: rgba(255, 243, 235, 1);
}

.why-choose_nationwide-coverage {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
  display: grid;
  grid-template: 40% 30% 30% / 100%;
  align-items: center;
  justify-items: center;
  height: 100%;
  border-radius: 16px;
  background: rgba(236, 237, 255, 1);
}

.why-choose_fastest-delivery {
  grid-column: 6 / 7;
  grid-row: 5 / 6;
  display: grid;
  grid-template: 40% 30% 30% / 100%;
  align-items: center;
  justify-items: center;
  height: 100%;
  border-radius: 16px;
  background: rgba(255, 236, 241, 1);
}

.why-choose_next-day-paymnent {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  display: grid;
  grid-template: 40% 30% 30% / 100%;
  align-items: center;
  justify-items: center;
  height: 100%;
  border-radius: 16px;
  background: rgba(246, 246, 246, 1);
}

.why-choose_best-cod-rates {
  grid-column: 4 / 5;
  grid-row: 7 / 8;
  display: grid;
  grid-template: 40% 30% 30% / 100%;
  align-items: center;
  justify-items: center;
  height: 100%;
  border-radius: 16px;
  background: rgba(255, 250, 236, 1);
}

.why-choose_secure-handling {
  grid-column: 6 / 7;
  grid-row: 7 / 8;
  display: grid;
  grid-template: 40% 30% 30% / 100%;
  align-items: center;
  justify-items: center;
  height: 100%;
  border-radius: 16px;
  background: rgba(255, 243, 235, 1);
}

.why-choose_product-insurance {
  grid-column: 2 / 3;
  grid-row: 9 / 10;
  display: grid;
  grid-template: 40% 30% 30% / 100%;
  align-items: center;
  justify-items: center;
  height: 100%;
  border-radius: 16px;
  background: rgba(238, 255, 243, 1);
}

.why-choose_verified-products {
  grid-column: 4 / 5;
  grid-row: 9 / 10;
  display: grid;
  grid-template: 40% 30% 30% / 100%;
  align-items: center;
  justify-items: center;
  height: 100%;
  border-radius: 16px;
  background: rgba(255, 236, 241, 1);
}

.why-choose_realtime-monitoring {
  grid-column: 6 / 7;
  grid-row: 9 / 10;
  display: grid;
  grid-template: 40% 30% 30% / 100%;
  align-items: center;
  justify-items: center;
  height: 100%;
  border-radius: 16px;
  background: rgba(236, 237, 255, 1);
}

.main__news {
  display: grid;
  grid-template: 12.85% 5.35% 40.16% 2.68% 3.21% 3.48% 8.5% 2.68% 13.79% 3.55% 3.75% / 8% 26% 3% 26% 3% 26% 8%;
}

.news__title {
  grid-column: 1 / 8;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
  max-width: 50%;
}

.news__news-one-picture {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: block;
  width: 100%;
  height: 100%;
  justify-self: center;
}

.news__news-one-category {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  display: flex;
  justify-content: space-between;
  font-family: "Segoe UI";
}

.news__news-one-title {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
  font-family: "Segoe UI";
  text-align: left;
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

.news__news-one-text {
  grid-column: 2 / 3;
  grid-row: 9 / 10;
  font-family: "Segoe UI";
  text-align: left;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 1);
  margin: 0;
}

.news__news-one-learn-more a:hover,
.news__news-two-learn-more a:hover,
.news__news-three-learn-more a:hover {
  background-color: rgb(228, 195, 78);
  color: rgba(68, 75, 81, 1);
}

.news__news-one-learn-more {
  grid-column: 2 / 3;
  grid-row: 11 / 12;
}

.news__news-two-picture {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  display: block;
  width: 100%;
  height: 100%;
  justify-self: center;
}

.news__news-two-category {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
  display: flex;
  justify-content: space-between;
  font-family: "Segoe UI";
}

.news__news-two-title {
  grid-column: 4 / 5;
  grid-row: 7 / 8;
  font-family: "Segoe UI";
  text-align: left;
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  color: rgba(71, 71, 71, 1);
  margin: 0;
}

.news__news-two-text {
  grid-column: 4 / 5;
  grid-row: 9 / 10;
  text-align: left;
  font-family: "Segoe UI";
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 1);
  margin: 0;
}

.news__news-two-learn-more {
  grid-column: 4 / 5;
  grid-row: 11 / 12;
}

.news__news-three-picture {
  grid-column: 6 / 7;
  grid-row: 3 / 4;
  display: block;
  width: 100%;
  height: 100%;
  justify-self: center;
}

.news__news-three-category {
  grid-column: 6 / 7;
  grid-row: 5 / 6;
  display: flex;
  justify-content: space-between;
  font-family: "Segoe UI";
}

.news__news-three-title {
  grid-column: 6 / 7;
  grid-row: 7 / 8;
  font-family: "Segoe UI";
  text-align: left;
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
  color: rgba(71, 71, 71, 1);
  margin: 0;
}

.news__news-three-text {
  grid-column: 6 / 7;
  grid-row: 9 / 10;
  font-family: "Segoe UI";
  text-align: left;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 102, 102, 1);
  margin: 0;
}

.news__news-three-learn-more {
  grid-column: 6 / 7;
  grid-row: 11 / 12;
}

.main__our-clients {
  display: grid;
  grid-template: 40% 60% / 100%;
  align-items: center;
}

.our-clients__clients-list {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer {
  display: grid;
  grid-template: 20.52% 65.75% 13.73% / 19.3% 25.7% 6.11% 13.34% 7.8% 27.75%;
  background-color: rgba(255, 242, 239, 1);
}

.footer__about-company {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template: repeat(3, 33.3%) / 100%;
  height: 80%;
}

.about-company__logo {
  width: 70%;
  height: 100%;
}

.about-company__adress {
  align-items: center;
  justify-items: center;
  color: rgba(68, 75, 81, 1);
  font-size: 18px;
  text-align: left;
  margin: 0;
}

.about-company__social-networks {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template: 100% / repeat(5, 20%);
  max-width: 75%;
}

.about-company__social-networks div:hover {
  transform: scale(1.3);
}

.footer__links {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  display: grid;
  height: 80%;
  grid-template: 30% 70% / 100%;
}

.links_title {
  text-align: left;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.links__sublinks {
  display: grid;
  align-content: space-between;
  grid-template: repeat(4, 25px) / 100%;
  padding: 0;
  margin: 0;
  text-align: left;
  font-weight: 500;
  color: rgba(68, 75, 81, 1);
}

.links__sublinks li:hover {
  text-decoration: underline;
}

.footer__policy {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
  display: grid;
  height: 80%;
  grid-template: 30% 70% / 100%;
}

.policy_title {
  text-align: left;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.policy__sublinks {
  display: grid;
  align-content: space-between;
  grid-template: repeat(4, 25px) / 100%;
  padding: 0;
  margin: 0;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}


.policy__sublinks li:hover {
  text-decoration: underline;
}

.footer__copyright {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  display: grid;
  align-items: center;
  justify-items: center;
  font-style: normal;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  background: rgba(226, 67, 41, 1);
}