.loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  z-index: 99
}

.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100
}

.wrapper {
  width: 1200px;
  min-height: 1024px;
  background: #E4EFFE;
  margin: 0 auto;
}

.blog {
  max-width: 992px;
  width: 100%;
  min-height: 900px;
  background: linear-gradient(180deg, #F6F5FB 14.31%, #FEFEFF 94.46%);
  box-shadow: 0 4px 96px rgba(0, 0, 0, .18);
  border-radius: 30px;
  margin: 0 auto;
}

.blog__header {
  max-width: 992px;
  width: 100%;
  max-height: 70px;
  background: #FFF;
  border-radius: 30px 30px 0 0;
  display: flex;
  align-items: center;
}

.blog__header-title {
  max-width: 115px;
  width: 100%;
  max-height: 50px;
  font-family: Rubik, serif;
  font-style: normal;
  font-size: 42px;
  line-height: 50px;
  color: #0E0E0E;
  margin: 13px 48px 7px;
}

.blog__header-title::first-letter {
  color: #FF726C;
}

.blog__header-sort {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

.blog__header-filter {
  max-width: 230px;
  max-height: 36px;
  background: #F7F6FB;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .25);
  border-radius: 30px;
  margin: 17px 28px;
}

.blog__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 430px);
  gap: 40px 40px;
  justify-content: center;
  padding: 40px;
}

.post {
  max-width: 430px;
  width: 100%;
  background: #FFF;
  box-shadow: 0 1px 50px rgba(0, 0, 0, .06);
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
}

.post__title {
  max-width: 430px;
  font-family: Roboto, serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #0E0E0E;
  padding: 10px 35px;
}

.post__title::first-letter {
  color: #FF726C;
  text-transform: uppercase;
}

.post__text {
  font-family: Roboto, serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  padding: 10px 35px;
}

