<app-header></app-header>
<section class="game page__section">
    <div class="game__turn">
        <div class="game__turn-value game__turn-value-{{iconPlayer}}">
            <svg class="game__turn-logo">
                <use
                    [attr.xlink:href]="'/assets/sprite.svg#' + iconPlayer"></use>
            </svg>
            <p class="game__turn-name">{{turnPlayer + ' turn'}} </p>
        </div>
    </div>
    <main class="game__wrapper">
        <aside class="game__menu">
            <app-player-value
                *ngFor=" let player of players"
                [player] = player
                id="{{player.id}}"
                (changeNamePlayer)="changePlayersName($event, player)"
            ></app-player-value>
            <app-menu-btn
                [name]="nameBtn1"
               (resetGame)="resetCurrentGame()"
            ></app-menu-btn>
            <app-menu-btn
                [name]="nameBtn2"
                (resetGame)="resetAll()"
            ></app-menu-btn>
        </aside>
        <app-field-game
                [state]="state"
                (clickChange)="onClick($event)"
        ></app-field-game>
    </main>
</section>

