
.day {
  --pink: #FD665E;
  --text-color-button: #FFF;
  --halfmoon-color: #444;
  --dream-project-background: #F9F9F9;
  --footer-image: #F9F9F9;
  --link-color: #585858;
}

.night {
  --pink: #FD7E77;
  --text-color-button: #0D0D0D;
  --body-background: #000;
  --footer-image: linear-gradient(180deg,#000 22%, #F9F9F9);
  --font-color: #FFF;
  --link-color: #FFF;
  --icon-fill: #000;
  --icon-stroke: #FFF;
}

.halfmoon {
  fill: #585858;
}

.halfmoon--hidden {
  display: none;
}

.sun {
  fill: #FFF;
}

body {
  background-color: var(--body-background);
}

.buttons {
  color: var(--text-color-button);
  border: none;
  background-color: var(--pink);
  border-radius: 4px;
  cursor: pointer;
}

.logo {
  width: 62px;
  height: 28px;
  fill: var(--pink);
}

header {
  display: flex;
  width: 1440px;
  height: 96px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.header__logo {
  margin-left: 50px;
  margin-right: 32px;
}

.header__menu {
  display: flex;
  width: auto;
}

.header__menu__list {
  display: flex;
}

.header__menu__lines {
  list-style-type: none;
  margin-right: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--link-color);
}

.menu__links {
  text-decoration: none;
  cursor: pointer;
  color: var(--link-color);
}

.header__buttons {
  display: flex;
  align-items: center;
  margin-right: 75px;
}

.header__buttons__tougle {
  margin-right: 45px;
  cursor: pointer;
  width: 15px;
  height: 20px;
  fill: var(--halfmoon-color);
}

.header__buttons__sign--in {
  margin-right: 30px;
  width: 60px;
  height: 40px;
  background-color: #FFF;
  color: #585858;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.header__buttons__sign--in--night {
  color: #FFF;
  background-color: #000;
}

.header__buttons__sign--up {
  width: 99px;
  height: 48px;
  font-family: "Roboto", serif;
  font-size: 14px;
}

.dreamhouse__title-container {
  width: 870px;
  margin-left: 165px;
}

.dreamhouse__title-container__title {
  font-size: 112px;
  font-family: "Merriweather", serif;
  line-height: 112px;
  letter-spacing: -2px;
  color: var(--font-color);
}

.word--color {
  color: var(--pink);
}

.dreamhouse {
  display: flex;
  margin-left: 165px;
  margin-right: 165px;
  width: 1110px;
  height: 480px;
  margin-bottom: 112px;
}

.dreamhouse__aside {
  display: block;
  width: 350;
  height: 480px;
}

.dreamhouse__aside__text {
  width: 350px;
  height: 130px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: .75;
  color: var(--font-color);
}

.dreamhouse__aside__button {
  margin-top: 56px;
  font-family: "Roboto", serif;
  width: 179px;
  height: 56px;
  font-size: 14px;
}

.dreamhouse__photo {
  width: 760px;
  height: 480px;
}

.block__design__title {
  width: 1440px;
  margin-left: 452px;
}

.design__title {
  font-size: 48px;
  font-family: "Merriweather", serif;
  line-height: .5;
  letter-spacing: -2px;
  color: var(--font-color);
}

.design {
  display: flex;
  width: 1340px;
  height: 432px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 128px;
}

.archmove__title {
  font-size: 48px;
  font-family: "Merriweather";
  margin-left: 165px;
  line-height: 26px;
  letter-spacing: -2px;
  color: var(--font-color);
}

.archmove {
  display: flex;
  margin-left: 165px;
  margin-right: 197px;
  margin-top: 60px;
}

.archmove__content {
  display: block;
  margin-left: 155px;
}

.archmove__icon {
  margin-top: 15px;
  fill: var(--icon-fill);
  stroke: var(--icon-stroke);
}

.archmove__icon--bird {
  margin-top: 15px;
  margin-left: 5px;
  fill: var(--icon-fill);
  stroke: var(--icon-stroke);
}

.archmove__content__part {
  display: flex;
  width: 391px;
  height: 112px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.archmove__content__part--bird {
  display: flex;
  width: 391px;
  height: 112px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.archmove__content__part--text {
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: .5;
  margin-left: 40px;
  color: var(--font-color);
}

.archmove__content__button {
  width: 205px;
  height: 56px;
  font-family: "Roboto", serif;
  font-size: 14px;
  margin-top: 50px;
  margin-left: 90px;
}

.bottom {
  width: 1440px;
  background-color: var(--footer-image);
  background-image: var(--footer-image);
}

.dream-project {
  width: 1440px;
  height: 812px;
  margin-top: 64px;
  display: flex;
}

.dream-project--photo {
  margin-left: 155px;
  margin-top: 88px;
}

.dream-project__content {
  display: block;
}

.dream-project__content__text {
  margin-top: 299px;
  font-family: "Merriweather";
  font-size: 48px;
  line-height: .25;
  letter-spacing: -1px;
  margin-left: 138px;
  color: var(--font-color);
}

.dream-project__content__button {
  width: 205px;
  height: 56px;
  font-family: "Roboto", serif;
  font-size: 14px;
  margin-top: 64px;
  margin-left: 138px;
}

.footer {
  display: flex;
  width: 1440px;
  height: 208px;
  align-items: center;
  justify-content: space-between;
}

.footer__menu {
  display: flex;
  margin-left: 80px;
}

.footer__menu__list {
  display: flex;
}

.footer__menu__lines {
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin-right: 48px;
}

.footer__logo {
  margin-right: 180px;
}

@media (max-width: 767px) {

  header {
    display: flex;
    width: 50%;
    justify-content: flex-start;
  }

  .header__logo {
    display: none;
  }

  .dreamhouse__photo {
    display: none;
    width: 760px;
    height: 480px;
  }

  .dreamhouse__aside {
    display: block;
    width: 350;
    height: 480px;
    margin-left: auto;
    margin-right: auto
  }

  .dreamhouse__aside__text {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    line-height: .75;
    height: 300px;
    width: 500px;
  }

  .block__design__title {
    width: 50%;
    margin-left: 452px;
  }

  .design__title {
    font-size: 25px;
  }

  .design {
    display: block;
    width: 50%;
    margin-left: 250px;
    margin-top: 40px;
    margin-bottom: 1400px;
  }

  .archmove__photo {
    display: none;
  }

  .archmove__title {
    font-size: 25px;
    line-height: .5;
  }

  .dream-project--photo {
    display: none;
  }

  .footer__logo {
    display: none;
  }
}
