html {
  --color-n40: #FD665E;
  --color-n10: #FFF;
  --color-n11: #FFF;
  --color-n17: #FF0;
  --color-n13: #F9F9F9;
  --color-n20: #585858;
  --color-n100: #000;
  --color-n25: #444;
  --font-size-big: 112px;
  --font-size-title: 48px;
  --font-size-medium: 14px;
  --font-size-small: 12px;
  --font-size-large: 16px;
  --font-sizes-title-mobile: 25px;
  --font-family-paragraf: "Roboto", sans-serif;
  --font-family-title: "Merriweather", serif;
  --font-weight-bold: 900;

  scroll-behavior: smooth;
}

.html--dark {
  --color-n40: #F97E77;
  --color-n13: linear-gradient(180deg, #0D0D0D 22%, #F9F9F9 300%);
  --color-n10: #0D0D0D;
  --color-n15: #000;
  --color-n20: #FFF;
  --color-n100: #FFF;
}

.themes-toggle__button--halfmoon {
  fill: var(--color-n25);
}

.themes-toggle__button--sun {
  fill: var(--color-n100);
  animation-name: sun;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes sun {

  from {
    fill: var(--color-n11);
  }

  to {
    fill: var(--color-n17);
  }
}

.themes-toggle__button--hidden {
  display: none;
}

.themes-toggle__button--active {
  display: block;
}

body {
  background-color: var(--color-n10);
  max-width: 1440px;
  margin: 0 auto;
  color: var(--color-n100);
}

.button {
  font-family: var(--font-family-paragraf);
  border: none;
  font-size: var(--font-size-medium);
  cursor: pointer;
}

@keyframes flash {

  from {
    background-color: var(--color-n40);
    color: var(--color-n11)
  }

  to {
    background-color: var(--color-n10);
    color: var(--color-n40);
  }
}

.button--primary {
  color: var(--color-n11);
  background-color: var(--color-n40);
  border-radius: 4px;
  font-weight: var(--font-weight-bold);
  padding: 15px 24px;
  animation-name: flash;
  animation-duration: 8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.button--secondary {
  margin-right: 30px;
  background-color: var(--color-n10);
  color: var(--color5);
}

.p__line-height {
  line-height: 1.5;
}

.logo {
  fill: var(--color-n40);
  width: 61px;
  animation-name: logo;
  animation-duration: 2s;
}

@keyframes logo {

  from {
    width: 61px;
  }

  33% {
    width: 75px;
    fill: #F50404
  }

  66% {
    width: 45px;
    fill: #3F1311;
  }

  to {
    width: 61px;
  }
}

.header__logo {
  padding-left: 30px;
  width: 70px;
}

.header__content {
  display: flex;
  height: 96px;
  justify-content: space-between;
  align-items: center
}

.header__menu {
  display: flex;
  width: auto;
}

.menu__list {
  display: flex;
}

.menu__line {
  list-style-type: none;
  margin-right: 48px;
  font-family: var(--font-family-paragraf);
  font-size: var(--font-size-medium);
  color: var(--color5);
}

.menu__link {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-n20);
}

.menu__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--color-n40);
  left: 0;
  bottom: -5px;
  transform: scale(0);
  transition: .5s;
}

.menu__link:hover::before {
  transform: scale(1);
}

.header__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}

.button__sign-in {
  transition: .2s;
}

.button__sign-up {
  transition: .2s;
}

.button__sign-in:hover {
  transform: scale(1.2);
  transition: .2s;
}

.button__sign-up:hover {
  transform: scale(1.2);
  transition: .2s;
}

.button__up--active {
  position: fixed;
  display: block;
  right: 0;
  bottom: 10%;
  width: 50px;
  height: 20px;
  cursor: pointer;
  border: none;
  background: none;
}

.button__up--hidden {
  display: none;
}

.theme-toggle {
  margin-right: 45px;
  cursor: pointer;
  height: 25px;
}

.dreamhouse__title {
  font-size: var(--font-size-big);
  font-family: var(--font-family-title);
  line-height: 1;
  letter-spacing: -2px;
}

.text--accent {
  color: #FD665E;
}

.dreamhouse {
  display: block;
  margin-left: 165px;
  margin-bottom: 100px;
}

.dreamhouse__container {
  display: flex;
}

.dreamhouse__aside {
  display: block;
}

.dreamhouse__button {
  transition: .2s;
}

.dreamhouse__button:hover {
  transform: scale(1.2);
  transition: .2s;
}

.dreamhouse__photo-container {
  margin-left: 40px;
}

.photo--disabled {
  display: none;
}

.dreamhouse__text {
  font-family: var(--font-family-paragraf);
  font-size: var(--font-size-large);
  line-height: 1;
  margin-bottom: 50px;
}

.design__title {
  display: flex;
  justify-content: center;
}

.design__text {
  font-size: var(--font-size-title);
  font-family: var(--font-family-title);
  line-height: 1;
  letter-spacing: -2px;
}

.design {
  width: 100%;
  display: block;
  margin-bottom: 100px;
}

.design__photo {
  display: flex;
  justify-content: space-around;
}

.archmove__title {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  font-size: var(--font-size-title);
  font-family: var(--font-family-title);
  line-height: 1.25;
  letter-spacing: -2px;
}

.archmove {
  display: block;
  margin-bottom: 100px;
}

.archmove__container {
  display: flex;
  justify-content: space-around;
  padding-left: 80px;
}

.archmove__content {
  display: block;
  padding-top: 40px;
}

.archmove__icon {
  padding-top: 15px;
  fill: var(--color-n40);
  stroke: var(--color-n40);
}

.archmove__icon--bird {
  padding-left: 5px;
  padding-top: 15px;
  stroke: var(--color-n40);
}

.archmove__block {
  display: flex;
  margin-bottom: 30px;
  margin-left: 10px;
}

.archmove__block--bird {
  display: flex;
  margin-bottom: 30px;
}

.archmove__text {
  font-family: var(--font-family-paragraf);
  font-size: var(--font-size-large);
  line-height: 1;
  padding-left: 40px;
}

.archmove__button {
  margin-left: 90px;
  transition: .2s;
}

.archmove__button:hover {
  transform: scale(1.2);
  transition: .2s;
}

.dream-project {
  width: 100%;
  background: var(--color-n13);
}

.dream-project__container {
  width: 100%;
  display: flex;
}

.dream-project__photo {
  margin-left: 100px;
}

.dream-project__content {
  display: block;
  padding-top: 200px;
  padding-left: 100px;
}

.dream-project__button {
  transition: .2s;
}

.dream-project__button:hover {
  transform: scale(1.2);
  transition: .2s;
}

.dream-project__text {
  font-family: var(--font-family-title);
  font-size: var(--font-size-title);
  line-height: 1;
  letter-spacing: -1px;
  margin-bottom: 72px;
  font-weight: var(--font-weight-bold);
}

.footer {
  display: flex;
  width: 100%;
  height: 208px;
  align-items: center;
  justify-content: space-between;
}

.footer__menu {
  display: flex;
  margin-left: 80px;
}

.footer__list {
  display: flex;
}

.footer__line {
  list-style-type: none;
  font-family: var(--font-family-paragraf);
  font-size: var(--font-size-small);
  margin-right: 48px;
}

.footer__logo {
  margin-right: 180px;
}

@media (max-width: 770px) {

  .header__content {
    display: block;
  }

  .header__menu {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .header__buttons {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .logo {
    display: none;
  }

  .dreamhouse__photo {
    display: none;
  }

  .dreamhouse__aside {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .dreamhouse__title {
    width: 70%;
  }

  .dreamhouse__text {
    font-family: var(--font-family-paragraf);
    font-size: var(--font-sizes-title-mobile);
    line-height: 1;
  }

  .design__title {
    font-size: var(--font-sizes-title-mobile);
  }

  .design__photo {
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .archmove__title {
    width: 70%;
  }

  .archmove__content {
    width: 70%;
  }

  .archmove__photo {
    display: none;
  }

  .dream-project__photo {
    display: none;
  }

  .footer__logo {
    display: none;
  }
}
