* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
}

a, button, a:hover, button:hover {
  cursor: pointer;
  text-decoration: none;
}

body {
  width: 100%;
}

.header__afterBtn {
  color: #FFF;
  background: #2D2D2D;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  animation: .5s linear showHeader forwards;
}

.afterBtn__btn {
  color: #5B1F67;
  background-color: #0984E3;
  font-size: 30px;
  width: 400px;
  height: 50px;
  transition: all .3s linear;
  border-radius: 5px;
}

.afterBtn__btn:hover {
  background: #F3D2C1;
  color: #86B086;
  border-radius: 20px;
  box-shadow: #435566 3px 3px;
}

.header {
  color: #FFF;
  background: #2D2D2D;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  animation: .5s linear showHeader forwards;
}

.header__inner {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 80px;
  background: #40A742;
  width: 300px;
  font-size: 35px;
  padding: 0 30px;
  transition: all .3s linear;
}

.header__logo:hover {
  color: #FF6347;
}

.menu__icon {
  font-size: 35px;
  display: none;
}

.menu__icon:hover {
  cursor: pointer;
}

.header__menu {
  padding: 0 50px;
  display: flex;
  flex-direction: row;
}

.menu__link {
  margin: 0 0 0 50px;
  text-transform: uppercase;
  font-size: 23px;
  transition: color .4s linear;
}

.menu__link:hover {
  color: #FF6347;
}

.header-hide {
  animation: .5s linear hideHeader forwards;
}

@keyframes showHeader {

  0% {
    top: -300px;
  }

  100% {
    top: 0;
  }
}

@keyframes hideHeader {

  0% {
    top: 0;
  }

  100% {
    top: -300px;
  }
}

.header__titleAfterBtn {
  font-size: 25px;
  color: #FFF;
  margin: 0 30px;
}

.menu__navigation {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 30px;
  font-size: 20px;
}

.main__text {
  width: 100%;
  line-height: 1.3;
}

.main__button {
  color: #5B1F67;
  background-color: #0984E3;
  margin: 20px auto;
  font-size: 30px;
  width: 400px;
  height: 50px;
  max-width: 80%;
  transition: all .3s linear;
  border-radius: 5px;
}

.main__button:hover {
  background: #F3D2C1;
  color: #86B086;
  border-radius: 20px;
  box-shadow: #435566 3px 3px;
}

@media screen and (max-width: 768px) {

  .afterBtn__btn, .main__button {
    width: 200px;
  }

  .header {
    flex-direction: column;
    padding: 0;
  }

  .header__inner {
    height: 80px;
    width: 100%;
    margin: 0;
  }

  .menu__icon {
    display: block;
  }

  .header__menu {
    padding: 0;
    margin: 0;
    display: none;
    background: #1D719A;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .navigation__link {
    line-height: 2;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    border: 1px solid #0000B8;
    border-radius: 5px;
    transition: color .3s linear;
    height: 30px;
  }
}

.header-reponsive {
  height: 220px;
}

.header__menu-responsive {
  display: flex;
  height: 140px;
}
