* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  height: 56px;
  background: #78D4F1;
  display: flex;
  padding: 0 0 0 25px;
  align-items: center;
}

.who-turn {
  width: 100%;
  max-width: 336px;
  margin: 62px auto;
  display: flex;
  height: 56px;
}

.game__container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px 0 77px;
  justify-content: space-between;
}

.players-actions__container {
  width: 100%;
  max-width: 260px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.players__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.actions__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 18px 0 0;
}

.game {
  width: 100%;
  max-width: 589px;
}

.game__item {
  background: #000;
}

.who-won {
  position: fixed;
  top: 150px;
  right: 30px;
  width: content-box;
  padding: 5px 10px;
  text-align: center;
  height: content-box;
  background: #456;
  color: #FFF;
  border-radius: 3px;
  font-size: 20px;
  animation: showWinner 1 3s linear;
  opacity: 0;
}

@keyframes showWinner {

  from, to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@media screen and (max-width: 968px) {

  .game__container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {

  .game__container {
    flex-direction: column;
  }
}
