<!DOCTYPE html>
<body>
    <div class="header">
        <div class="header__logo">
            <svg-icon-sprite
                [src]="'assets/sprites/sprite.svg#logo'"
                class="game-logo"
                [width]="'25'"
                [height]="'25'"
            ></svg-icon-sprite>
            Tic-Tac-Toe game
        </div>
    </div>
    <div class="who-turn">
        <svg-icon-sprite
            [src]="'assets/sprites/sprite.svg#cross'"
            class="who-turn__icon player__icon1"
            [width]="'36'"
            [height]="'36'"
            viewBox="0 0 36 36"
        ></svg-icon-sprite>
        Player 1 turn
    </div>
    <div class="game__container">
        <div class="players-actions__container">
            <app-players class="players__container" [players] = "players"></app-players>
            <app-game-actions class="actions__container" (onClick)="resetPlayersScores()"></app-game-actions>
        </div>
        <app-game class="game" [gameState]="state"></app-game>
    </div>
</body>
