:host, .app {
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
}

.app .container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background-color);
}

.header__title {
  margin: 0;
}

